.resize-active *{
	transition: none !important;
}

/* main informative part styles */
#main {
	z-index: 2;
	overflow: hidden;
	padding: 0 0 7px;
	position: relative;
	@include css3(transition,padding 0.25s ease);
	
	
	&.main-active {
		@include media('>=large') {
			padding-left: 230px;
		}
		@include media('>=large-x') {
			padding-left: 280px;
		}
		
		.section-head {
			padding-left: 0;
		}
	}
	
	.domain-page & {
		padding: 0 0 7px;
	}
}

.domain-page {
	#main.main-active {
		padding-left: 0;
	}
}


/* social-networks */
.social-networks {
	@include font-size(0,0);
	
	li {
		padding: 0;
		margin: 0 6px 5px;
		vertical-align: top;
	}
	
	a {
		display: block;
		color: $christi;
		text-align: center;
		@include size(43px);
		background: $mirage2;
		@include font-size(19px, 43px);
		
		&:hover {
			color: $christi;
			background: $white;
		}
	}
}

/* page-header */
.page-header {
	margin: 0;
	color: $white;
	border-width: 0;
	text-align: center;
	padding: 68px 0 77px;
	@include font-size(17px);
	background: url(../images/bg1.jpg) no-repeat 50% 50%;
	background-size: cover;
	
	h1 {
		margin: 0 0 11px;
		text-transform: uppercase;
		small {
			display: block;
			color: $white;
		}
	}
	
	p { margin: 0; }
	
	&.add {
		padding:86px 0 78px;
	}
}

/* main-container */
.main-container {
	overflow: hidden;
	padding: 12px 18px 12px 13px;
	@include transition(all 0.25s ease);
	@include media('<desktop') {
		padding: 12px 0;
	}
	
	.domain-page & {
		@include media('>desktop') {
			padding: 12px 0;
		}
	}
	
	.sidebar-active & {
		&:before {
			@include media('<large') {
				opacity: 1;
				bottom: -20px;
				visibility: visible;
			}
		}
	}
	
	.sidebar-active & {
		@include media('<large') {
			overflow: visible;
			@include css3(transform,translate(280px, 0));
		}
		@include media('<large-x') {
			@include css3(transform,translate(230px, 0));
		}
	}
	
	.domain-page.sidebar-active & {
		@include media('<1820px') {
			@include css3(transform,translate(280px, 0));
		}
		@include media('<large-x') {
			@include css3(transform,translate(230px, 0));
		}
		
		&:before {
			@include media('<1820px') {
				opacity: 1;
				bottom: -20px;
				visibility: visible;
			}
		}
	}
}

/* fake-radio */
.fake-checkbox,
.fake-radio {
	cursor: pointer;
	overflow: hidden;
	margin: 0 5px 0 0;
	position: relative;
	@include size(17px);
	border-radius: 100%;
	@include align($align: middle);
	
	
	[type=checkbox],
	[type=radio] {
		top: 0;
		left: 0;
		margin: 0;
		opacity: 0;
		position: absolute;
		
		&:checked {
			+ span {
				border-color: $lima;
				
				&:after {
					opacity: 1;
				}
			}
			
			&:hover {
				+ span {
					border-color: $lima;
				}
			}
		}
		
		&:hover {
			+ span {
				border-color: darken($bombay, 20%);
			}
		}
		
	}
	
	> span {
		display: block;
		position: relative;
		@include size(100%);
		border-radius: 100%;
		border: solid 2px $bombay;
		@include transition(all 0.25s ease);
		
		&:after {
			opacity: 0;
			content: '';
			background: $lima;
			border-radius: 100%;
			@include position(3px);
			@include transition(all 0.25s ease);
		}
	}
}

/* products-area */
.products-area {
	padding-bottom: 30px;
	
	.products-holder {
		padding-bottom: 81px;
	}
	
	.section-footer {
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 10px;
		position: absolute;
		
		.btn {
			min-width: 183px;
			padding: 13px 10px;
		}
	}
	
	.domain-page & {
		padding-bottom: 6px;
		
		h2 {
			font-weight: 700;
			margin: 0 0 17px;
			color: $cool-grey;
			text-transform: none;
			@include font-size(14px);
			text-transform: uppercase;
		}
		
		.products-holder {
			@include media('>widescreen') {
				margin-bottom: 10px;
			}
		}
		
		.container,
		[class^=col-],
		[class*= col-] {
			padding-left: 9px;
			padding-right: 9px;
		}
		
		.row {
			margin-left: -9px;
			margin-right: -9px;
		}
		
		.item {
			h2 {
				font-weight: 400;
				text-align: center;
				text-transform: none;
				@include font-size(16px);
				@include media('<=desktop') {
					font-size: 12px;
				}
			}
		}
		
		
	}
}

/* section-head */
.section-head {
	margin: 0 -4px 21px 0;
	
	@include css3(transition,padding 0.25s ease);
	
	@include media('>=large') {
		padding-left: 230px;
	}
	@include media('>=large-x') {
		padding-left: 280px;
	}
	@include media('<desktop') {
		margin: 0 0 10px;
	}
	
	
	
	.head  {
		padding: 0 0 12px;
		margin: 0 0 19px 0;
		border-bottom: solid 1px $btn-default-border;
		@include media('<desktop') {
			margin: 0 0 10px;
			padding: 0 0 10px;
		}
		
	}
}

/* nav-products */
.nav-products {
	position: relative;
	text-transform: uppercase;
	@include font-size(15px, 3.26661);
	@include media('<=screen-md') {
		width: 280px;
		border-radius: 3px;
		border: solid 1px $btn-default-border;
	}
	@include media('<desktop') {
		width: 68%;
		float: right !important;
	}
	
	ul {
		margin: 0;
		float: left;
		@include media('<=screen-md') {
			top: -1px;
			height: 0;
			left: -1px;
			right: -1px;
			float: none;
			z-index: 10;
			overflow: hidden;
			position: absolute;
			background: $white;
			padding: 49px 0 0;
			border-radius: 3px;
			border: solid 1px $btn-default-border;
		}
	}
	
	&.active {
		ul {
			height: auto;
			li {
				@include media('<=screen-md') {
					border-color: $btn-default-border;
				}
			}
		}
	}
	
	li {
		padding: 0;
		float: left;
		@include media('<=screen-md') {
			float: none;
			display: block;
			border-bottom: solid 1px transparent;
			
			&:last-child {
				border: 0;
			}
		}
		
		&.active {
			@include media('<=screen-md') {
				left: 0;
				right: 0;
				top: 1px;
				position: absolute;
			}
		}
	}
	
	a {
		display: block;
		min-width: 160px;
		color: $cool-grey;
		text-align: center;
		position: relative;
		
		@include media('<large-x') {
			padding: 0 15px;
			min-width: inherit;
		}
		@include media('<large') {
			padding: 0 10px;
		}
		@include media('<=screen-md') {
			text-align: left;
			padding: 0 50px 0 10px;
		}
		
		&:after {
			left: 0;
			right: 0;
			opacity: 0;
			content: '';
			height: 5px;
			bottom: -15px;
			background: $lima;
			position: absolute;
			visibility: hidden;
			@include transition(all 0.25s ease);
			@include media('<=screen-md') {
				display: none;
			}
		}
	}
	
	a:hover,
	.active a {
		color: $lima;
		
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
	
	.btn-opener {
		z-index: 11;
		display: none;
		padding: 0 10px;
		text-align: right;
		position: relative;
		@include media('<=screen-md') {
			display: block;
		}
		
		&:hover,
		&:focus {
			outline: none;
		}
		
		.glyphicon {
			top: 3px;
			position: relative;
		}
	}
}

/* form-search */
.form-search {
	width: 450px;
	@include media('<desktop') {
		width: 100%;
		padding: 10px 0 0;
	}
	
	label {
		float: left;
		color: $lima;
		margin: 15px 18px 0 0;
		@include font-size(15px);
		text-transform: uppercase;
		@include media('<=phone') {
			float: none;
			margin: 0 0 5px;
		}
	}
	
	.form-holder {
		overflow: hidden;
		position: relative;
		background: $black-haze;
		border: solid 1px $mystic;
		padding: 8px 63px 9px 15px;
	}
	
	.form-control {
		border: 0;
		height: 30px;
		padding: 3px 0;
		border-radius: 0;
		color: $cool-grey;
		background: $black-haze;
		@include box-shadow(none);
		@include font-size(15px, 20px);
		
		@include placeholder {
			color: $cool-grey;
		}
		
		&:focus {
			outline: none;
			@include box-shadow(none);
		}
	}
	
	.btn-link {
		top: 50%;
		right: 7px;
		color: $chatelle;
		margin: -15px 0 0;
		position: absolute;
		text-align: center;
		@include size(46px, 30px);
		border-left: solid 1px $lima;
		@include font-size(20px, 28px);
		
		&:hover {
			color: $lima;
		}
	}
}

/* sort-type */
.sort-type {
	
	.sort-holder {
		width: 319px;
		position: relative;
		padding: 0 96px 0 0;
		border: solid 1px $btn-default-border;
		
		@include media('<=phone') {
			width: 100%;
		}
	}
	
	.btn-list,
	.btn-grid {
		top: 0;
		right: 0;
		bottom: 0;
		width: 49px;
		color: $mirage;
		text-align: center;
		position: absolute;
		@include font-size(18px, 53px);
		border-left: solid 1px $btn-default-border;
		@include media('<=tablet') {
			line-height: 50px;
		}
		
		&:hover,
		&.active {
			color: $mirage;
			background: $btn-default-border;
		}
	}
	
	.btn-grid {
		right: 49px;
	}
}

/* sort-select */
.sort-select {
	position: relative;
	
	.btn-link {
		width: 100%;
		display: block;
		color: $mirage;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-transform: uppercase;
		padding: 14px 51px 11px 13px;
		@include font-size(15px, 19px);
	}
	
	.caret {
		top: 50%;
		right: 20px;
		position: absolute;
		border-width: 6px 5px 0;
		@include css3(transform,translate(0,-50%));
	}
	
	#sortDrop {
		top: 100%;
		z-index: 5;
		left: -1px;
		width: 100%;
		
		min-width: 150px;
		position: absolute;
		background: $white;
		border: solid 1px $btn-default-border;
		
		ul {
			margin: 0;
			padding: 10px;
		}
		
		li {
			+ li {
				border-top: solid 1px $btn-default-border;
			}
		}
		
		a {
			color: $black;
			display: block;
			padding: 5px 10px;
			
			&:hover {
				background: $btn-default-border;
			}
		}
	}
}

/* item */
.item-list,
.item {
	margin: 0 0 20px;
	@include media('<tablet') {
		height: auto !important;
	}
	
	.box {
		height: 100%;
		
		background: $white;
		padding: 19px 15px 14px;
		border: $btn-default-border solid 1px;
		@include transition(all 0.25s ease);
		&:hover {
			@include box-shadow(0 0 16px 0 rgba(30,35,54,0.2));
		}
		
		@include media('<large-x') {
			padding: 10px;
		}
		
		
	}
	
	.img-holder {
		margin: 0 0 17px;
	}
	
	h2 {
		font-weight: 400;
		text-align: center;
		margin: 0 -10px 17px;
		word-break: break-all;
		@include font-size(16px);
		
		@include media('<1850px') {
			font-size: 14px;
		}
		@include media('<1600px') {
			font-size: 12px;
		}
	}
	
	.foot {
		@include clearfix;
		padding: 15px 0 0;
		margin: 0 0 0 -2px;
		border: solid $btn-default-border;
		border-width: 1px 0 0;
	}
	
	.price {
		display: block;
		overflow: hidden;
		font-weight: 400;
		color: $log-cabin;
		text-align: center;
		padding: 10px 5px 0;
		@include font-size(16px);
	}
	
	.btn {
		min-width: 103px;
		padding: 5px 5px;
		border-radius: 3px;
		@include font-size(12px, 30px);
		@include media('<large-x') {
			min-width: 70px;
		}
		
		i {
			@include font-size(15px, inherit);
		}
	}
	
	.icon-shopping-cart,
	.icon-heart { display: none; }
	
	&.save  {
		.btn-info {
			color: $white;
			background: $carnation;
			
			.text { display: none; }
			.icon-heart {
				display: block;
			}
		}
	}
	
	&.buy {
		.btn-default {
			color: $white;
			background: $lima;
			border-color: $lima;
			
			.text { display: none; }
			.icon-shopping-cart {
				display: block;
			}
		}
	}
}

/* item-list */
.item-list {
	
	.box {
		overflow: hidden;
		padding: 12px 11px 10px;
	}
	
	h2 {
		float: left;
		width: 52%;
		margin: 9px 0 0;
		text-align: left;
		letter-spacing: -0.02rem;
		font: 14px/1.25 $font-family-sans-serif;
		
		@include media('<1895px') {
			float: none;
			width: auto;
			font-size: 13px;
			max-width: none;
			margin: 0 0 10px;
		}
		
		a {
			@include align;
			margin: 0 -10px 0 0;
		}
	}
	
	.domain-page & {
		h2 {
			font-weight: 400;
			letter-spacing: -1px;
			@include media('>=1895px') {
				margin: 9px 0 0;
			}
			@include media('<=desktop') {
				font-size: 11px;
				letter-spacing: normal;
			}
		}
	}
	
	.foot {
		padding: 0;
		float: right;
		border-width: 0;
		
		@include media('<1895px') {
			float: none;
			width: auto;
			max-width: none;
			padding: 10px 0 0;
			border-width: 1px 0 0;
		}
	}
	
	.price {
		float: left;
		text-align: right;
		padding: 9px 5px 9px 0;
		@include font-size(14px);
		
	}
	
	.btn {
		margin: 0;
		min-width: 94px;
		padding: 7px 3px;
		@include font-size(11px, 20px);
		
		i {
			font-size: 16px;
		}
		
		.icon-heart-o {
			@include align;
		}
	}
	
	.btn-info {
		min-width: 38px;
		margin: 0 11px 0 0;
		color: $coral-red;
		background: $white;
		border-color: $coral-red;
		
		.text { display: none; }
		
		@include media('<1910px') {
			margin: 0 4px 0 0;
		}
	}
	
	&.save  {
		
		.btn-info {
			color: $coral-red;
			background: $white;
			border-color: $coral-red;
		}
		
		.icon-heart-o {
			&:before {
				content: "\e90e";
			}
		}
	}
	
}

/* sidebar-opener */
.sidebar-opener {
	display: none;
	padding: 0 10px;
	font-weight: 400;
	line-height: 49px;
	border-radius: 5px;
	margin: 0 10px 0 0;
	position: relative;
	
	@include media('<large') {
		display: block;
	}
	@include media('<desktop') {
		width: 30%;
		margin: 0;
	}
	
	.sidebar-active & {
		z-index: 51;
	}
	
	.glyphicon-remove {
		display: none;
	}
	
	.sidebar-active & {
		color: $white;
		background: $lima;
		
		.glyphicon-remove {
			display: inline;
		}
		.icon-filter {
			display: none;
		}
	}
}

/* domain-page */
.domain-page {
	
	.container,
	[class^=col-],
	[class*= col-] {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	.section-head {
		margin: 0 19px 21px 0;
		padding: 0 8px 0 305px;
		@include media('<1820px') {
			padding: 0;
			margin: 0 15px 20px;
		}
		
		.head {
			margin: 0;
			padding: 0 0 12px;
		}
		
		.form-block-opener {
			margin: 0;
		}
		
		.sidebar-opener {
			@include media('<1820px') {
				display: block;
			}
		}
	}
	
	#main.main-active {
		.section-head {
			@include media('>=1820px') {
				padding: 0 8px 0 305px;
			}
		}
	}
	
	.form-filters {
		padding-top: 17px;
	}
}

/* main content styles */
#content {
	margin-bottom: 14px;
	
	&.col-sm-8 {
		@include media('>1800px') {
			width: 63.867%;
		}
	}
	
	h2 {
		font-weight: 700;
		margin: 0 0 17px;
		color: $cool-grey;
		@include font-size(14px);
		text-transform: uppercase;
	}
	
	.post {
		.post-info + h2 {
			@include media('>widescreen') {
				margin: 0 0 15px;
			}
		}
	}
}

/* breadcrumbs */
.breadcrumb {
	margin-bottom: 17px;
	
	li + li:before {
		padding: 0;
		margin: 0 -1px;
	}
	
	a {
		color: $cool-grey;
		
		&:hover {
			color: $breadcrumb-active-color;
		}
	}
}

/* post */
.post {
	margin: 0 0 20px;
	
	.post-info {
		margin: 0 0 37px;
		padding: 20px 20px 34px;
		border: $btn-default-border solid 1px;
		
		@include media('<=640px') {
			padding: 10px 10px 20px;
		}
	}
	
	.img-holder {
		margin: 0 0 25px;
		position: relative;
		
		&:before {
			top: 0;
			right: 0;
			z-index: 1;
			@include arrow(52px 0 0 61px);
			border-top-color: $white;
		}
	}
	
	h3 {
		margin: 0;
		font-size: 31px;
		text-align: center;
		word-break: break-all;
		
		@include media('<widescreen') {
			font-size: 20px;
		}
		
		@include media('<=640px') {
			font-size: 12px;
		}
	}
	
	.table {
		@include media('<=640px') {
			tr,
			tbody,
			td {
				width: 100%;
				display: block;
			}
			
			td {
				border-width: 0;
				text-align: center;
				padding: 10px !important;
				
				&:first-child {
					width: 100%;
					border: $btn-default-border solid;
					border-width: 1px 0 0;
				}
			}
		}
	}
}

/* btn-favorite */
.btn-favorite {
	z-index: 3;
	top: -14px;
	right: -3px;
	color: $ghost;
	font-size: 29px;
	position: absolute;
	
	&:hover {
		color: $carnation;
	}
}

/* table */
.table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border: $table-border-color solid 1px;
	
	td {
		letter-spacing: 0.05rem;
		@include rgba-color($mirage, 0.8);
		
		&:first-child {
			width: 28.1%;
			color: $mirage;
			letter-spacing: normal;
			text-transform: uppercase;
			@include media('>widescreen') {
				padding-left: 29px;
				@include font-size(16px, 24px);
			}
		}
	}
	
	> tbody {
		> tr {
			&:first-child {
				> td {
					@include media('>widescreen') {
						padding-bottom: 30px;
					}
				}
			}
			
			> td {
				padding-bottom: 21px;
			}
		}
	}
}

/* aside  */
.aside {
	
	&.col-sm-4 {
		@include media('>1800px') {
			width: 35.833%;
		}
	}
}

/* form-order */
.form-order {
	padding: 15px 0;
	margin: 0 0 29px;
	border: $btn-default-border solid 1px;
	@include media('>tablet') {
		margin: 34px 0 29px;
	}
	@include media('>widescreen') {
		padding: 29px 0 36px;
	}
	
	.info {
		padding: 0 30px 29px 30px;
		@include media('<desktop') {
			padding: 15px 30px;
		}
		
		.btn-default {
			display: block;
			font-weight: 700;
			background: $white;
			padding: 31px 10px;
			@include font-size(36px);
			border-color: $yellow-green;
			@include media('<desktop') {
				font-size: 20px;
				padding: 15px 10px;
			}
			
			&:hover {
				color: $white;
				background: $yellow-green;
			}
			
			&:focus {
				color: $lima;
				background: $white;
			}
		}
	}
	
	.price {
		display: block;
		color: $mirage;
		margin: 0 0 32px;
		font-weight: 400;
		text-align: center;
		@include font-size(48px);
		@include media('<desktop') {
			font-size: 24px;
		}
	}
	
	.form-holder {
		margin: 0 0 30px;
		position: relative;
		padding: 26px 30px 21px 30px;
		background: $anti-flash-white;
		border: solid $btn-default-border;
		border-width: 1px 0;
		@include media('<desktop') {
			padding: 30px 15px;
		}
		
		&:before {
			top: 0;
			right: 0;
			@include arrow(49px 0 0 51px);
			border-top-color: $french-gray;
		}
	}
	
	.btn-close {
		top: 5px;
		z-index: 2;
		right: 10px;
		color: $white;
		position: absolute;
	}
	
	.field-row {
		margin: 0 0 18px;
	}
	
	.label {
		padding: 0;
		display: block;
		color: $mirage;
		margin: 0 0 7px;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
		@include font-size(100%, 1.125);
	}
	
	textarea {
		resize: none;
		height: 118px;
		margin: 0 0 20px;
	}
	
	[type=submit] {
		width: 100%;
		min-height: 48px;
	}
	
	.social-area {
		padding: 0 26px 0 37px;
		@include media('<desktop') {
			padding: 0 5px;
			text-align: center;
		}
	}
	
	.social-networks {
		margin: 0;
		
		li {
			width: 20%;
			margin: 0 -1px -1px;
			border: $btn-default-border solid 1px;
		}
		
		a {
			color: $ghost;
			min-width: 40px;
			background: $white;
			@include size(auto);
			@include font-size(21px, 50px);
			
			&:hover {
				color: $white;
				background: $lima;
			}
		}
	}
}

/* media */
.media {
	margin: 0 0 30px;
	
	.media-img {
		@include responsive-img;
	}
}

/* has-error */
.has-error {
	label {
		color: #a94442;
	}
}

/* custom range input styles */
.jcf-range {
	padding: 5px;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0 -5px 12px;
	
	.jcf-range-track {
		height: 6px;
		display: block;
		margin: 0 23px 0 0;
		position: relative;
	}
	
	.jcf-range-wrapper {
		height: 6px;
		display: block;
		margin: 10px 0;
		background: #e2e4eb;
	}
	
	.jcf-range-mid {
		position: absolute;
		background: #71be24;
		@include size(10px, 6px);
	}
	
	.jcf-range-display-wrapper {
		position: absolute;
		min-height: 6px;
		min-width: 10px;
		left: 10px;
		right: 10px;
	}
	
	&.jcf-vertical {
		width: auto;
	}
	
	&.jcf-vertical .jcf-range-wrapper {
		margin: 0;
		width: 10px;
		height: auto;
		padding: 20px 0 0;
	}
	
	&.jcf-vertical .jcf-range-track {
		height: 180px;
		width: 10px;
	}
	
	&.jcf-vertical .jcf-range-handle {
		left: -5px;
		top: auto;
	}
	
	.jcf-range-handle {
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
		margin: -9px 0 0;
		position: absolute;
		background: $white;
		@include size(24px);
		border-radius: 100%;
		border: #e3e3e3 solid 1px;
		@include box-shadow(2px 1px 2px 0 rgba(0,0,0,0.2));
	}
	
	.jcf-range-mark {
		position: absolute;
		overflow: hidden;
		background: #000;
		width: 1px;
		height: 3px;
		top: -7px;
		margin: 0 0 0 9px;
	}
	
	&.jcf-vertical .jcf-range-mark {
		margin: 0 0 9px;
		left: 14px;
		top: auto;
		width: 3px;
		height: 1px;
	}
	
	&.jcf-disabled {
		background: none !important;
		opacity: 0.3;
	}
}

.single-range {
	position: relative;
	
	&:before {
		top: 50%;
		left: -6px;
		content: '';
		z-index: 5;
		margin: -4px 0 0;
		@include size(6px);
		background: $white;
		position: absolute;
	}
	
	.jcf-range-wrapper{
		background: #71be24;
		border-radius: 1px;
	}
	.jcf-range {
		padding: 5px 3px 5px 5px;
		.jcf-range-handle {
			&:before {
				top: 50%;
				left: 100%;
				content: '';
				margin: -3px 0 0;
				position: absolute;
				background: #e2e4eb;
				@include size(9999px, 6px);
			}
		}
	}
}

/*tabs holder*/
.tabs-holder {
	overflow:hidden;
	padding-top:20px;
	
	.container {
		max-width:1170px;
	}
	
	.js-tab-hidden {
		display:block !important;
		left:-9999px !important;
		position: absolute !important;
		top:-9999px !important;
	}
	
	.breadcrumb {
		margin-bottom:22px;
		
		li {
			&.active {
				color:$cool-grey;
			}
		}
		
		a {
			color:$christi;
			
			&:hover {
				color:$cool-grey;
			}
		}
	}
}

/*container holder*/
.container-holder {
	position:relative;
	@extend %clearfix;
	padding-bottom:36px;
	
	@include media('<widescreen'){
		padding:0 10px 25px;
	}
	
	@include media('<tablet'){
		padding:0 0 25px;
	}
	
	&.add{
		padding:0 15px 13px;
	}
	/*tabset*/
	.tabset {
		@extend %clearfix;
		@extend %listreset;
		@include font-size(0, 0);
		text-align:center;
		
		>*{
			@include font-size(14px, 18px);
		}
		
		li {
			font-weight:300;
			@include font-size(14px, 18px);
			width:20%;
			display:inline-block;
			vertical-align:top;
			padding:0;
			
			@include media('<desktop'){
				width:33.33%;
				margin:0 -1px -1px;
			}
			
			@include media('<tablet'){
				width:50%;
				margin:0;
			}
			
			@include media('<phone'){
				width:100%;
			}
			
			a {
				padding:19px 5px 5px;
				background:$wild-sand;
				position:relative;
				display:block;
				min-height:59px;
				color:$strom-dust;
				border:1px solid $athens-gray;
				border-left:none;
				
				@include media('<desktop'){
					border-left:1px solid $athens-gray;
				}
				
				&:after {
					content:'';
					position:absolute;
					bottom:-7px;
					left:50%;
					border-style: solid;
					border-width: 7px 10px 0 10px;
					border-color:$christi transparent transparent;
					margin:0 0 0 -10px;
					display:none;
					z-index:9;
				}
				
				.icon {
					position:absolute;
					top:0;
					left:0;
					background:url(../images/sprite.png) no-repeat;
					@include size(20px, 20px);
				}
				
				.message-icon {
					background-position:-3px -31px;
				}
				
				.fav-icon {
					background-position:-32px -31px;
					width:23px;
				}
				
				.status-icon {
					background-position:-64px -31px;
					width:16px;
				}
				
				.history-icon {
					background-position:-91px -31px;
				}
				
				.settig-icon {
					background-position:-123px -31px;
				}
				
				.cart-icon{
					background-position: -7px -156px;
					width:25px;
					height:22px;
				}
				
				.dollar-icon{
					background-position: -50px -158px;
					width:27px;
					height:17px;
				}
				
				.check-icon{
					background-position: -95px -155px;
					width:22px;
					height:23px;
					top:-3px;
				}
				
				&.active,
				&:hover {
					color:$white;
					background:$christi;
					border-color:$christi;
					
					.message-icon {
						background-position:-2px -61px;
					}
					
					.fav-icon {
						background-position:-31px -61px;
					}
					
					.status-icon {
						background-position:-63px -61px;
					}
					
					.history-icon {
						background-position:-90px -61px;
					}
					
					.settig-icon {
						background-position:-122px -61px;
					}
					
					.cart-icon{
						background-position: -7px -188px;
					}
					.dollar-icon{
						background-position: -50px -188px;
					}
					
					.check-icon{
						background-position: -95px -188px;
					}
				}
				
				&.active {
					&:after {
						display:block;
						
						@include media('<desktop'){
							display:none;
						}
					}
				}
				
			}
			
			&:first-child {
				
				a {
					border-left:1px solid $athens-gray;
				}
			}
			
			.text-holder {
				@include align;
				position:relative;
				padding:0 0 0 40px;
			}
		}
	}
	
	/*cart-tabs*/
	.cart-tabs{
		text-align:left;
		@extend %listreset;
		margin:0 0 17px;
		@include media('<desktop'){
			text-align:center;
		}
		li{
			font-weight: 300;
			width:31.5%;
			margin:0;
			@include align;
			position:relative;
			white-space:nowrap;
			text-overflow:ellipsis;
			@include font-size(14px,18px);
			&:hover{
				&:first-child{
					a{
						border-left:0;
					}
				}
			}
			@include media('<desktop'){
				width:32.5%;
			}
			@include media('<tablet'){
				width:50%;
			}
			@include media('<480px'){
				width:100%;
				display:block;
			}
			.text-holder{
				padding:3px 0 5px 34px;
				position:relative;
				@include align;
				white-space:nowrap;
				text-overflow:ellipsis;
				overflow:hidden;
				width:180px;
			}
			+ li {
				margin: 0 0 0 1.2%;
				@include media('<desktop'){
					margin:0;
				}
				a{
					&:before{
						top:0;
						left:-1px;
						content:"";
						position:absolute;
						@include size(27px,57px);
						background:url(../images/layer06.png) no-repeat;
					}
					&.active,
					&:hover{
						&:before{
							@include size(26px,57px);
							background:url(../images/layer04.png) no-repeat;
						}
					}
					@include media('<desktop'){
						&:before{
							display:none;
						}
					}
				}
				.done{
					&:before{
						@include size(24px,57px);
						background:url(../images/layer02.png) no-repeat;
					}
				}
			}
			&:last-child{
				.text-holder{
					&:before,
					&:after{
						left:-103px;
					}
				}
			}
			.done{
				background:#f3f4f8;
				&:after{
					right:-24px;
					@include size(24px,59px);
					background:url(../images/layer01.png) no-repeat;
				}
				.cart-icon{
					background:url(../images/sprite.png) no-repeat -7px -273px;
				}
				.dollar-icon{
					background:url(../images/sprite.png) no-repeat -49px -276px;
				}
			}
			a{
				padding:18px 27px 13px;
				border-style:solid;
				border-color:$athens-gray;
				border-width:1px 1px 1px 1px;
				@include align;
				width:100%;
				@include transition;
				position:relative;
				text-align:center;
				min-height:inherit;
				background:#fff;
				@include media('>=desktop'){
					border-width:1px 0 1px 1px;
					transition:none;
				}
				&:after{
					top:-1px;
					right:-27px;
					left:auto;
					display:block;
					border:none;
					@include size(27px,59px);
					background:url(../images/layer05.png) no-repeat;
				}
				&.active,
				&:hover{
					&:after{
						top:-1px;
						right:-27px;
						display:block;
						@include size(27px,59px);
						background:url(../images/layer03.png) no-repeat;
					}
				}
				@include media('<desktop'){
					&:after{
						display:none;
					}
					&.active,
					&:hover{
						&:after{
							display:none;
						}
					}
				}
				.icon{
					left:0;
					top:3px;
				}
				.check-icon{
					top:0;
				}
			}
		}
	}	
}

/*tab content*/
.tab-content-holder {
	@extend %clearfix;
	padding:0 18px 53px;
	
	&.add{
		padding:0 0 34px;
	}
	
	@include media('<large-x'){
		padding:0 10px 50px;
	}
	
	@include media('<desktop'){
		padding:0 0 25px;
	}
	
	.tab-content {
		position:relative;
		@extend %clearfix;
	}
	
	.form-wrap,
	.form-area {
		@extend %clearfix;
		position:relative;
	}
	
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}
	
	h2 {
		color:$christi;
		margin:0 0 20px;
	}

	/*heading bar*/
	.heading-bar {
		position:relative;
		@extend %clearfix;
		padding:16px 20px 11px 18px;
		@include box-shadow(0 3px 5px rgba(0,0,0,.05));
		border-bottom:1px solid $athens-gray;
		background:$white;
		
		.title {
			float:left;
			text-transform:uppercase;
			@include font-size(14px, 18px);
		}
		
		.number {
			float:right;
			@include size(40px, 25px);
			background:$wild-sand;
			text-align:center;
			@include font-size(16px, 23px);
			color:$atlantis;
			border-radius:15px;
			margin:-2px 0 5px;
		}
		
		.name {
			float:left;
			font-weight:700;
			color:$christi;
			@include font-size(18px, 21px);
		}
		
		.setting-icon {
			border:1px solid $athens-gray;
			float:right;
			@include size(26px, 26px);
			border-radius:4px;
			text-align:center;
			color:$cadet-blue;
			
			&:hover {
				opacity:0.8;
			}
			
			.icon-gear {
				position:relative;
				top:1px;
			}
			
			@include media('<tablet'){
				top:2px;
			}
		}
	}
	
	.pagniation-holder {
		float:left;
		width:100%;
		
		.pagniation {
			float:left;
			
			@include media('<phone'){
				float:none;
				overflow:hidden;
				margin:0 0 10px;
			}
		}
		
		.back{
			float:left;
			color:$lima;
			padding:0 0 0 11px;
			text-decoration:none;
			position:relative;
			@include media('<480px'){
				float:none;
				@include align;
				margin:0 0 15px;
				overflow:hidden;
			}
			&:after{
				top:-1px;
				left:-5px;
				font-size:16px;
				color:$christi;
				content: "\e928";
				position:absolute;
				font-family: 'icomoon' !important;
			}
			&:hover{
				opacity:0.8;
			}
		}
		.btn-holder {
			float:right;
			
			@include media('<phone'){
				float:none;
				overflow:hidden;
			}
			
			.print-btn {
				@include size(111px, 40px);
				border-radius:3px;
				@include font-size(14px, 17px);
				position:relative;
				padding:10px 5px 5px 45px;
				color:$white;
				background:$lima;
				float:left;
				
				&:hover {
					opacity:0.8;
				}
				
				.icon-print {
					position:absolute;
					top:10px;
					left:18px;
					
					&:before {
						content: "\e91b";
						font-family: 'icomoon' !important;
						font-size:18px;
					}
				}
			}
			
			.jcf-file {
				float:left;
				margin:0 10px 0 0;
				
				.jcf-fake-input {
					display:none;
				}
				
				.jcf-upload-button {
					display:block;
				}
			}
		}
	}
	
	.pagniation {
		overflow:hidden;
		margin:0;
		font-weight:700;
		text-align:center;
		@include font-size(13px, 16px);
		
		li {
			float:left;
			margin:0 10px 0 0;
			@include size(30px, 30px);
			border:1px solid $christi;
			border-radius:3px;
			
			a {
				display:block;
				color:#585858;
				padding:6px 5px;
			}
			
			&.active {
				background:$christi;
				color:$white;
				padding:6px 5px;
			}
			
			&:hover {
				a {
					background:$christi;
					color:$white;
				}
			}
		}
	}
	
	.heading-area {
		position:relative;
		@extend %clearfix;
		margin:0 0 22px;
		
		h2 {
			float:left;
			margin:0;
			
			@include media('<desktop'){
				float:none;
				margin:0 0 10px;
			}
		}
		
		.view-area {
			float:right;
			margin:-18px 0 0;
			
			@include media('<large-x'){
				margin:0;
			}
			
			@include media('<desktop'){
				float:none;
				margin:0 0 10px;
			}
		}
		
		.view-select {
			float:left;
			margin:0 10px 0 0;
			@include size(113px, 40px);
			
			@include media('<tablet'){
				margin:0 5px 5px;
			}
			
			.jcf-select {
				.jcf-select-opener {
					&:after {
						background:none;
						border-style: solid;
						border-width: 4px 4px 0;
						border-color:$christi transparent transparent;
						margin:-2px 0 0;
					}
				}
			}
		}
		
		.data-picker-area {
			position:relative;
			float:left;
			margin:0 10px 0 0;
			@include size(150px, 40px);
			
			@include media('<tablet'){
				margin:0 5px 5px;
			}
		}
		
		.hasDatepicker {
			border:1px solid $dark-gray;
			@include size(100%, 40px);
			color:#010101;
			font-weight:300;
			@include font-size(14px, 18px);
			padding:10px 19px;
			border-radius:0;
			background:url(../images/calender-icon.png) no-repeat 95% 50%;
			
			&:focus {
				outline:none;
				box-shadow:none;
			}
			
			@include placeholder {
				color:#010101;
			}
		}
		
		.month-select {
			float:left;
			margin:0 10px 0 0;
			@include size(170px, 40px);
			
			@include media('<tablet'){
				margin:0 5px 5px;
			}
		}
		
		.btn {
			@include size(60px, 40px);
			border-radius:0;
			text-align:left;
			text-transform:uppercase;
			font-weight:700;
			@include font-size(14px, 17px);
			position:relative;
			padding:6px 23px 5px 14px;
			
			@include media('<tablet'){
				float:left;
				margin:0 5px 5px;
			}
			
			&:after {
				content:'';
				position:absolute;
				top:50%;
				right:12px;
				margin:-3px 0 0;
				border-style: solid;
				border-width: 4px 0 4px 5px;
				border-color: transparent transparent transparent $white;
			}
		}
	}
	.continue{
		@include align;
		font:400 14px/16px $mont;
		color:$christi;
		position:relative;
		margin:0;
		padding:0 0 0 11px;
		text-decoration:none;
		&:after{
			top:0;
			left:-5px;
			font-size:16px;
			color:$christi;
			content: "\e928";
			position:absolute;
			font-family: 'icomoon' !important;
		}
		&:hover{
			opacity:0.6;
			@include transition;
		}
	}
	/*widget-block*/
	.widget-block{
		overflow:hidden;
		h2{
			margin:0 0 19px;
			color:$cool-grey;
			font:700 14px/16px $mont;
			text-transform:uppercase;
		}
	}
	
	/*widget*/
	.widget{
		overflow:hidden;
		margin:0 0 19px;
		
		.btn-primary{
			width:100%;
			height:78px;
			font:400 20px/23px $mont;
			background:$christi;
			border-radius:0;
			&:focus{
				box-shadow:none;
				border:none;
				outline:none;
			}
		}
	}
	
	.widget-holder{
		overflow:hidden;
		background:$white-smoke;
		border:1px solid $athens-gray;
	}
	/*counter-holder*/
	.counter-holder{
		margin:0 0 17px;
		overflow:hidden;
	}
	/*counting-text*/
	.counting-text{
		padding:20px 20px 5px;
		overflow:hidden;
		.counting-row{
			overflow:hidden;
			margin:0 0 21px;
		}
	}
	.sub-title{
		width:53.4%;
		@include align($align:middle);
		color:$cool-grey;
		font:300 14px/16px $mont;
		@include media('>=tablet'){
			width:54%;
		}
	}
	.total-digits,
	.digits{
		width:45%;
		text-align:right;
		color:$log-cabin;
		overflow:hidden;
		font:400 18px/20px $mont;
		@include align($align:middle);
		@include media('>=tablet'){
			width:44%;
		}
	}
	.total-digits{
		color:$christi;
		font:400 20px/26px $mont;
		@include media('>=widescreen'){
			@include font-size(24px,26px);
		}
	}
	/*total-holder*/
	.total-holder{
		overflow:hidden;
		padding:21px 20px 20px;
		background:$white;
		border-top:1px solid $athens-gray;
		border-bottom:1px solid $athens-gray;
	}
	.domain-info{
		overflow:hidden;
		@extend %listreset;
		padding:0 10px 0 20px;
		font:300 12px/17px $mont;
		li{
			display:block;
			padding:0 0 0 25px;
			margin:0 0 19px;
			position:relative;
			color:$strom-dust;
			&:after{
				top:4px;
				left:1px;
				content:"";
				position:absolute;
				@include size(5px,5px);
				background:$green-ryb;
			}
		}
	}
	.open-close{
		&.active{
			.slide-openar{
				&:after{
					color:$pistachio;
					content: "\e927";
				}
			}
		}
		.slide-openar{
			position:relative;
			color:$strom-dust;
			padding:18px 20px 15px;
			display:block;
			text-decoration:none;
			border-bottom:1px solid $athens-gray;
			font:300 14px/16px $mont;
			&:after{
				top:50%;
				right:19px;
				margin:-7px 0 0;
				font-size:13px;
				color:$strom-dust;
				content: "\e926";
				position:absolute;
				font-family: 'icomoon' !important;
			}
			&:hover{
				opacity:0.8;
				@include transition;
			}
		}
		.slide{
			padding:18px 8px 17px 19px;
			color:$strom-dust;
			font:300 12px/18px $mont;
			background:$white;
			p{
				margin:0;
			}
		}
	}
	.btn-wrap{
		float:left;
		width:100%;
		margin:20px 0 0;
		border:1px solid $athens-gray;
		position:relative;
		&:after{
			top:0;
			bottom:0;
			left:50%;
			content:"";
			position:absolute;
			width:1px;
			background:$athens-gray;
		}
		.btn{
			float:left;
			width:50%;
			height:50px;
			padding:17px 10px;
			font:300 12px/15px $mont;
			background:$white-smoke;
			border:none;
			&:focus,
			&:hover{
				color:$christi;
				box-shadow:none;
				border:none;
				outline:none;
			}
		}
	}
	.info-title{
		display:block;
		padding:0 0 15px;
		margin:0 0 31px;
		color:$cool-grey;
		text-transform:uppercase;
		font:700 14px/16px $mont;
		border-bottom:1px solid $white-smoke;
	}
	.radio-list{
		@extend %clearfix;
		@extend %listreset;
		margin:0 0 40px;
		@include media('>=tablet'){
			margin:0 -5px 40px;
		}
		li{
			@include align;
			text-align:center;
			width:49.3%;
			margin:0 0 10px;
			@include media('>=tablet'){
				margin:0 0 0 5px;
				width:24.2%;
				float:left;
			}
			[type="radio"]{
				left: 0;
				opacity: 0;
				position: fixed;
				top: 0;
				z-index: -1;
				&:checked {
					~ .fake-input-holder{
						background:$white;
						border-color:$christi;
						&:after{
							display:block;
						}
					}
				}
			}
			.txt{
				@include align;
				color:$dark-jungle-green;
				font:300 13px/16px $mont;
			}
			label{
				@include align;
				margin:0 0 19px;
				@include size(100%,150px);
			}
			.fake-input-holder{
				@include align;
				border-width:3px;
				border-style:solid;
				border-color:$white-smoke;
				@include size(100%,100%);
				position:relative;
				background:$white-smoke;
				&:after{
					top:0;
					left:0;
					content:"";
					position:absolute;
					display:none;
					@include size(31px,31px);
					background:url(../images/sprite.png) no-repeat -9px -226px;
				}
			}
			.card-icon,
			.paypal-icon,
			.transfer-icon,
			.escrow-icon{
				top:50%;
				left:50%;
				margin:-26px 0 0 -24px;
				position:absolute;
				@include size(48px,50px);
				background:url(../images/escrow-icon.png) no-repeat;
			}
			.transfer-icon{
				margin:-23px 0 0 -23px;
				@include size(47px,47px);
				background:url(../images/transfer-icon.png) no-repeat;
			}
			.paypal-icon{
				margin:-26px 0 0 -22px;
				@include size(44px,50px);
				background:url(../images/paypal-icon.png) no-repeat;
			}
			.card-icon{
				margin:-24px 0 0 -36px;
				@include size(70px,49px);
				background:url(../images/card-icon.png) no-repeat;
			}
		}
	}
	.card-info{
		overflow:hidden;
		margin:0 0 17px;
		@include media('>=tablet'){
			margin:0;
		}
		.form-row{
			overflow:hidden;
			margin:0 0 17px;
			@include media('>=tablet'){
				margin:0 0 27px;
			}
		}
		.label,
		label{
			display:block;
			margin:0 0 17px;
			color:$black;
			position:relative;
			font:300 14px/16px $mont;
		}
		.form-col{
			display:block;
			width:100%;
			margin:0 0 17px;
			@include media('>=tablet'){
				float:left;
				width:48.7%;
				margin:0 2.6% 0 0;
				&.add{
					margin:0 3.6% 0 0;
					width:31.3%;
				}
				&.add2{
					width:65.1%;
				}
				&.add4,
				&.add3{
					margin:0 2.3% 0 0;
					width:31.4%;
				}
				&.add4{
					margin:0;
				}
				&:last-child{
					margin:0;
				}
			}
		}
		.input-col{
			overflow:hidden;
			position:relative;
			margin:0 0 17px;
			@include media('>=tablet'){
				&.add{
				width:48.1%;
				float:left;
				margin:0 3.8% 0 0;
				}
				&.add2{
					margin:0;
				}
			}
		}
		.jcf-select{
			border-radius:3px
		}
		.form-control{
			padding:6px 40px 6px 19px;
			&:focus{
				box-shadow:none;
			}
		}
		.code-info,
		.icon-card{
			top:50%;
			margin:-10px 0 0;
			right:10px;
			position:absolute;
			@include size(29px,20px);
			background:url(../images/sprite.png) no-repeat -90px -226px;
		}
		.code-info{
			right:20px;
			margin:-8px 0 0;
			@include size(13px,14px);
			background:url(../images/sprite.png) no-repeat -101px -123px;
		}
		.jcf-select{
			border:1px solid $ghost;
			&.jcf-drop-active{
				box-shadow:none;
			}
			.jcf-select-opener{
				width:31px;
				height:46px;
				&:after{
					top:50%;
					right:0;
					margin:1px 0 0;
					content:"";
					position:absolute;
					background:none;
					border-style: solid;
					border-width: 6px 4.5px 0 4.5px;
					border-color: $cool-grey transparent transparent transparent;
				}
			}
			.jcf-select-text{
				margin:15px 32px 15px 19px;
				color:$cool-grey;
				font:300 14px/16px $mont;
			}
		}
		[type="checkbox"]{
			left: 0;
			opacity: 0;
			position: fixed;
			top: 0;
			z-index: -1;
			&:checked {
				~ .fake-input{
					background: $christi;
    				border-color: $christi;
					&:before{
						opacity:1;
					}
				}
			}
		}
		.label{
			@include align($align:middle);
			padding:0 0 0 22px;
			margin:0;
		}
		.fake-input{
			background: $white;
			border: 1px solid #e2e4eb;
			border-radius: 2px;
			left: 0;
			margin: 0;
			position: absolute;
			top: 1px;
			@include size(14px,14px);
			@include align($align:middle);
			&:before{
				content:'';
				position:absolute;
				top:1px;
				left:1px;
				@include size(11px, 9px);
				opacity: 0;
				background:url(../images/sprite.png) no-repeat -56px -105px;
			}
		}
	}
	.order-holder{
		overflow:hidden;
		padding:24px 10px 26px;
		background:$white;
		text-align:center;
		border-bottom:1px solid $athens-gray;
	}
	.title-order{
		display:block;
		margin:0 0 13px;
		text-transform:uppercase;
		color:$black;
		font:700 18px/20px $mont;
	}
	.total-amount{
		display:block;
		color:$christi;
		font:400 36px/38px $mont;
	}
	.terms-list{
		overflow:hidden;
		@extend %listreset;
		padding:16px 25px 0 45px;
		li{
			margin:0 0 18px;
		}
		label{
			padding:0;
			position:relative;
			color:$strom-dust;
			@include align($align:middle);
			font:300 12px/18px $mont;
			span{
				color:$dodger-blue;
			}
		}
		[type="checkbox"]{
			left: 0;
			opacity: 0;
			position: fixed;
			top: 0;
			z-index: -1;
			&:checked {
				~ .fake-input{
					background: $christi;
    				border-color: $christi;
					&:before{
						opacity:1;
					}
				}
			}
		}
		.fake-input{
			background: $white;
			border: 1px solid #e2e4eb;
			border-radius: 2px;
			left: -24px;
			margin: 0;
			position: absolute;
			top: 4px;
			@include size(12px,12px);
			@include align($align:middle);
			&:before{
				content:'';
				position:absolute;
				top:0;
				left:0;
				@include size(11px, 9px);
				opacity: 0;
				background:url(../images/sprite.png) no-repeat -56px -105px;
			}
		}
	}
	.payment-holder{
		float:left;
		width:100%;
		padding:22px 0 0;
	}
	.confirmation-box{
		overflow:hidden;
		padding:0 0 30px;
		margin:0 0 37px;
		text-align:center;
		color:$strom-dust;
		font:400 16px/18px $mont;
		border-bottom:1px solid $athens-gray;
		@include media('<tablet'){
			@include font-size(14px,16px);
		}
		p{
			margin:0;
		}
		.payment-title{
			display:block;
			margin:0 0 21px;
			color:$christi;
			font:400 36px/38px $mont;
			@include media('<tablet'){
				@include font-size(25px,30px);
			}
		}
		.icon-holder{
			overflow:hidden;
			margin:0 0 25px;
		}
		.icon-checked{
			@include align;
			@include media('<tablet'){
				 width:80px;
			}
			img{
				display:block;
				height:auto;
				max-width:100%;
			}
		}
	}
}
/*message block*/
.message-block {
	border:1px solid $athens-gray;
	overflow:hidden;
	position:relative;
	
	.message-area {
		float:left;
		width:40.3%;
		border-right:1px solid $athens-gray;
		
		@include media('<screen-md'){
			width:45%;
		}
		
		@include media('<desktop'){
			float:none;
			height:auto !important;
			width:100%;
			overflow:hidden;
			border:none;
		}
	}
	
	.search-field {
		overflow:hidden;
		background:$wild-sand;
		padding:7px 9px;
		border-bottom:1px solid $athens-gray;
		
		.form-control {
			border:1px solid $athens-gray;
			border-radius:0;
			@include font-size(12px, 15px);
			color:$aluminium;
			padding:7px 10px;
			height:35px;
			
			&:focus {
				outline:none;
				box-shadow:none;
			}
			
			@include placeholder {
				color:$aluminium;
			}
		}
	}
	
	.tabset {
		margin:0 -1px;
		
		@include media('<desktop'){
			margin:0;
		}
		
		li {
			> a {
				position:relative;
				display:block;
				padding:16px 20px 12px 28px;
				border:1px solid $athens-gray;
				border-top:none;
				
				@include media('<tablet'){
					padding:15px 25px;
				}
				
				&.active {
					background:$atlantis;
					border-color:#66ad1f;
					
					time,
					.info-list,
					.name,
					.text {
						color:$white;
					}
					
					.description {
						color:$green-leaf;
					}
					
					.text {
						&.mail {
							color:$white;
						}
					}
				}
			}
			
			&:first-child {
				
				@include media('>=large-x'){
					.name {
						margin:0 0 12px;
					}
				}
				
				> a {
					margin-top:-1px;
				}
			}
			
			&:last-child {
				> a {
					border-bottom:none;
					margin-bottom:-1px;
				}
			}
		}
		
		.name {
			display:block;
			margin:0 0 4px;
			color:$christi;
			@include font-size(16px, 19px);
		}
		
		time {
			position:absolute;
			right:20px;
			top:16px;
			@include font-size(12px, 15px);
			color:$aluminium;
		}
		
		.info-list {
			@include font-size(12px, 17px);
			margin:0;
			
			li {
				overflow:hidden;
				margin:0 0 4px;
			}
			
			.description {
				float:left;
				width:123px;
				font-weight:700;
				color:$cool-grey;
				text-transform:uppercase;
				
				@include media('<tablet'){
					float:none;
					display:block;
					margin:0 0 5px;
				}
			}
			
			.text {
				color:$black;
				display:block;
				overflow:hidden;
				font-size:14px;
				line-height:17px;
				letter-spacing:-0.2px;
				
				@include media('<phone'){
					font-size:12px;
					letter-spacing:0;
				}
				
				&.mail {
					color:$dodger-blue;
				}
			}
		}
	}
	
	.detail-block {
		float:right;
		width:59.7%;
		background:$concrete;
		position:relative;
		
		&:after {
			content:'';
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:-9999px;
			background:$concrete;
			z-index:-1;
		}
		
		@include media('<screen-md'){
			width:55%;
		}
		
		@include media('<desktop'){
			float:none;
			height:auto !important;
			width:100%;
			overflow:hidden;
		}
	}
	
	.person-info {
		overflow:hidden;
		background:$white;
		padding:19px 0 0;
		
		@include media('<tablet'){
			padding:10px 0 0;
		}
	}
	
	.name-area {
		position:relative;
		@extend %clearfix;
		margin:0 0 2px;
		padding:0 20px;
		
		@include media('<widescreen'){
			padding:0 10px;
		}
		
		@include media('<tablet'){
			margin:0 0 10px;
		}
		
		time {
			color:$aluminium;
			float:right;
			@include font-size(14px, 18px);
			margin:23px 0 0;
		}
	}
	
	.name-holder {
		float:left;
		
		a {
			position:relative;
			@include font-size(16px, 19px);
			color:$christi;
			
			&:hover {
				opacity:0.8;
			}
			
			.icon {
				position:relative;
				display:inline-block;
				vertical-align:middle;
				border-radius:50%;
				@include size(60px, 60px);
				background:$cadet-blue-dark;
				margin:0 18px 0 0;
				
				&:after {
					content:'';
					position:absolute;
					bottom:-2px;
					left:50%;
					background:url(../images/sprite.png) no-repeat -4px -91px;
					@include size(41px, 49px);
					margin:0 0 0 -21px;
				}
			}
			
			.name {
				display:inline-block;
				vertical-align:middle;
			}
			
			.text {
				display:inline-block;
				vertical-align:middle;
			}
		}
	}
	
	.person-detail-area {
		overflow:hidden;
		padding:0 20px 0 99px;
		
		@include media('<widescreen'){
			padding:0 10px 0 70px;
		}
		
		@include media('<tablet'){
			padding:0 10px;
		}
	}
	
	.person-detail {
		overflow:hidden;
		border-radius:12px;
		background:$wild-sand;
		padding:28px 28px 6px 24px;
		margin:0 0 20px;
		
		@include media('<widescreen'){
			padding:25px 10px 18px;
		}
	}
	
	.detail-list {
		overflow:hidden;
		margin:0;
		
		li {
			overflow:hidden;
			margin:0 0 21px;
			
			@include media('<tablet'){
				margin:0 0 10px;
			}
		}
		
		.description {
			text-transform:uppercase;
			float:left;
			width:159px;
			color:$cool-grey;
			font-weight:700;
			font-size:14px;
			@include font-size(14px, 21px);
			
			@include media('<widescreen'){
				font-size:13px;
				width:115px;
			}
			
			@include media('<tablet'){
				float:none;
				display:block;
			}
		}
		
		.text {
			font-weight:400;
			font-size:18px;
			display:block;
			overflow:hidden;
			@include font-size(18px, 21px);
			letter-spacing:-1px;
			
			@include media('<widescreen'){
				font-size:16px;
				text-overflow:ellipsis;
				letter-spacing:-0.3px;
			}
			
			@include media('<phone'){
				font-size:12px;
			}
			
			a {
				text-overflow:ellipsis;
				white-space: nowrap;
			}
			
			&.add {
				color:$slate-gray;
				@include font-size(14px, 24px);
				font-weight:300;
				letter-spacing:0;
			}
			
			&.brand {
				color:$christi;
			}
		}
	}
	
	.btn-list {
		overflow:hidden;
		margin:0 0 24px;
		text-align:right;
		padding:0 20px;
		
		@include media('<tablet'){
			padding:0 10px;
		}
		
		li {
			display:inline-block;
			vertical-align:top;
			margin:0 0 0 6px;
			
			@include media('<phone'){
				display:block;
				margin:0 0 5px;
			}
			
			.btn {
				display:block;
				@include size(99px, 40px);
				border-radius:5px;
				padding:7px 5px 5px;
				color:$white;
				text-transform:none;
				border-radius:3px;
				font-weight:400;
				
				@include media('<phone'){
					width:100%;
				}
				
				&:hover {
					opacity:0.8;
				}
				
				&.add {
					background:$blue-light;
				}
				
				&.add1 {
					background:$ghost;
				}
			}
		}
	}
	
	.reply-area {
		overflow:hidden;
		padding:21px 20px 19px;
		background:$concrete;
		border-top:1px solid $athens-gray;
	}
	
	.field-holder {
		position:relative;
		overflow:hidden;
		margin:0 0 15px;
		padding:0 55px 0 0;
		background:$white;
		border:1px solid $athens-gray;
		height:60px;
		
		textarea.form-control {
			resize:none;
			background:none;
			border:none;
			height:58px;
			padding:12px 20px;
			color:$aluminium;
			@include font-size(14px, 18px);
			
			&:focus {
				outline:none;
				box-shadow:none;
			}
			
			@include placeholder {
				color:$aluminium;
			}
		}
		
		button[type="submit"] {
			position:absolute;
			top:10px;
			right:10px;
			border-radius:50%;
			background:$feijoa;
			@include size(40px, 40px);
			border:none;
			text-align:center;
			color:$white;
			font-weight:700;
			
			&:hover {
				opacity:0.8;
			}
			
			.icon-paperplane {
				position:absolute;
				background:url(../images/sprite.png) no-repeat -66px -2px;
				@include size(22px, 21px);
				left:50%;
				top:50%;
				margin:-11px 0 0 -11px;
				
				&:before {
					content:'';
				}
			}
		}
	}
}

.new-message-area {
	height:624px;
	width:100% !important;
	overflow-y:auto;
	overflow-x:hidden;
}

.apply-area {
	position:relative;
	@extend %clearfix;
	margin:-4px 0 20px;
	
	.apply-holder {
		float:left;
		
		@include media('<tablet'){
			float:none;
			margin:0 0 15px;
		}
	}
	
	.apply-select {
		float:left;
		margin:0 10px 0 0;
		@include size(171px, 40px);
	}
	
	.btn {
		@include size(81px, 40px);
		border-radius:0;
	}
	
	.view-area {
		float:right;
		
		@include media('<tablet'){
			float:none;
			overflow:hidden;
		}
		
		.category-select {
			float:left;
			margin:0 10px 0 0;
			@include size(144px, 40px);
		}
		
		.view-select {
			float:left;
			@include size(115px, 40px);
		}
		
		.jcf-select {
			.jcf-select-opener {
				
				&:after {
					background:none;
					border-style: solid;
					border-width: 4px 4px 0;
					border-color:$christi transparent transparent;
					margin:-2px 0 0;
				}
			}
		}
	}
}

.table-area {
	position:relative;
	overflow:hidden;
	margin:0 0 20px;
	
	@include media('<desktop'){
		overflow:auto;
	}
}

.table-holder {
	width:100%;
	border:1px solid $athens-gray;
	color:#010101;
	font-weight:400;
	@include font-size(14px, 17px);
	
	@include media('<screen-md'){
		font-size:13px;
	}
	
	@include media('<desktop'){
		width:1023px;
	}
	
	&.add {
		
		thead {
			background:$wild-sand;
		}
	}
	
	.col1 {
		width:50.5%;
		border-right:2px solid $athens-gray;
		padding-left:10px;
		
		@include media('<screen-md'){
			width:48%;
		}
	}
	
	.col2 {
		width:16%;
		border-right:2px solid $athens-gray;
		
		@include media('<screen-md'){
			width:12%;
		}
	}
	
	.col3 {
		width:16%;
	}
	
	.col4 {
		width:29.8%;
		border-right:1px solid $athens-gray;
		
		@include media('<large-x'){
			width:26.5%;
		}
		
		@include media('<screen-md'){
			width:22%;
		}
	}
	
	.col5 {
		width:14.9%;
		border-right:1px solid $athens-gray;
		
	}
	
	.col6 {
		width:13.3%;
		border-right:1px solid $athens-gray;
	}
	
	.col7 {
		width:15.9%;
		border-right:1px solid $athens-gray;
	}
	
	.col8 {
		width:18%;
		
		@include media('<screen-md'){
			width:20%;
		}
	}
	
	.col9 {
		width:9.4%;
		border-right:1px solid $athens-gray;
	}
	
	.col10 {
		width:11.8%;
		border-right:1px solid $athens-gray;
	}
	
	.col11 {
		width:25%;
		border-right:1px solid $athens-gray;
	}
	
	.col12 {
		width:14%;
	}
	
	.col13 {
		border-right:1px solid $athens-gray;
		width:29%;
	}
	
	
	th {
		font-weight:400;
		background:url(../images/separator.png) repeat-x 0 100%;
		height:40px;
		padding:2px 5px 5px 29px;
		
		@include media('<screen-md'){
			padding-left:20px;
		}
	}
	
	tbody {
		td {
			border-bottom:1px solid $athens-gray;
			height:53px;
			padding:7px 5px 5px 29px;
			
			@include media('<screen-md'){
				padding-left:20px;
			}
		}
		
		a {
			letter-spacing:-0.3px;
		}
		
		label {
			color:$dodger-blue;
			letter-spacing:-1.3px;
			margin:-3px 0 0;
			
			@include media('<desktop'){
				letter-spacing:0.3px;
			}
		}
		
		tr {
			&:last-child {
				td {
					border-bottom:none;
				}
			}
		}
		
		time {
			display:block;
		}
	}
	
	.holder {
		overflow:hidden;
		padding:0 25px 0 0;
		
		.text {
			float:left;
			padding:4px 0 0;
		}
		
		.setting-icon {
			float:right;
			border-radius:3px;
			border:1px solid $athens-gray;
			@include size(26px, 26px);
			
			.icon-gear {
				color:$cadet-blue;
				position:relative;
				top:5px;
				left:6px;
			}
			
			&:hover {
				opacity:0.8;
			}
		}
		
		.btn {
			float:left;
			border-radius:3px;
			background:#4d8cff;
			text-transform:uppercase;
			color:$white;
			@include font-size(10px, 13px);
			@include size(88px, 26px);
			padding:5px 5px 2px;
			
			&:hover {
				opacity:0.8;
			}
			
			&.cancel {
				background:#ff5555;
			}
			
			&.declined {
				background:#ffb955;
			}
		}
	}
	
	.checkbox-holder {
		display:inline-block;
		vertical-align:middle;
	}
	
	.title {
		position:relative;
		display:inline-block;
		vertical-align:middle;
		margin:0 0 0 20px;
		background:$christi;
		color:$white;
		height:20px;
		font-weight:400;
		@include font-size(10px, 13px);
		padding:4px 9px 1px;
		text-transform:uppercase;
		border-radius:0 4px 4px 0;
		
		&:after {
			content:'';
			position:absolute;
			left:-10px;
			top:0;
			border-style: solid;
			border-width: 10px 10px 10px 0;
			border-color: transparent $christi transparent transparent;
		}
		
		&.add {
			background:#3ea0fb;
			
			&:after {
				border-color: transparent #3ea0fb transparent transparent;
			}
		}
	}
	
	.del-area {
		overflow:hidden;
		
		.btn {
			float:left;
			margin:0 10px 0 0;
			@include size(89px, 26px);
			border-radius:4px;
			text-transform:uppercase;
			border-color:$christi;
			color:$christi;
			text-align:center;
			font-weight:400;
			@include font-size(10px, 14px);
			padding:5px 5px 3px;
			
			&:hover {
				background:$christi;
				color:$white;
			}
		}
		
		.del-icon {
			float:left;
			border:1px solid $athens-gray;
			@include size(26px, 26px);
			border-radius:4px;
			text-align:center;
			color:$cadet-blue;
			
			&:hover {
				background:#fa4444;
				color:$white;
				border-color:#fa4444;
			}
			
			.icon-bin {
				display:block;
				font-size:12px;
				position:relative;
				top:5px;
				left:1px;
			}
		}
	}
	&.sec{
		.del-area{
			@include align($align:middle);
			overflow:visible;
			@extend %clearfix;
			.del-icon{
				margin:-5px 0 0 30px;
				float:right;
				
				@include media('>=desktop'){
					margin:-5px 0 0 15px;
				}
				
				@include media('>=screen-md'){
					margin:-5px 0 0 30px;
				}
				.icon-bin{
					left:0;
				}
			}
		}
		.gray{
			background:#f3f4f8;
		}
		.text-digit{
			@include align($align:middle);
			width:90px;
		}
		.col2,
		.col1{
			border-right:1px solid $athens-gray;
		}
		.col2{
			padding:7px 5px 5px 18px;	
		}
		tbody{
			td{
				padding:7px 5px 5px 10px;
			}
		}
	}
	&.thrd{
		border:none;
		margin:0;
		tbody{
			border-width:0 1px 1px;
			border-style:solid;
			border-color:$athens-gray;
		}
		.th-heading{
			text-align:center;
			color:$dove-gray;
			padding:0 0 33px;
			border:none;
			font:300 24px/26px $mont;
		}
		.col9{
			width:10.3%;
		}
		.col11{
			width:51.1%;
		}
	}
}
.wrap-table{
	overflow:hidden;
	@include media('<1024px'){
		margin:0 0 10px;
	}
}
.table-block{
	float:left;
	width:100%;
	margin:0 0 30px;
	@include media('<desktop'){
		overflow:auto;
		display:block;
	}
	.calculation-holder{
		padding:23px 10px 20px 28px;
		float:left;
		width:100%;
		background:$white;
		border-width:0 1px 1px;
		border-style:solid;
		border-color:$athens-gray;
		@include media('<desktop'){
			width:1023px;
		}
		dl{
			width:155px;
			float:left;
			margin:6px 0 0;
			dt{
				display:block;
				margin:0 0 8px;
				color:$black;
				font:400 14px/16px $mont;
			}
			dd{
				display:block;
				margin:0 0 12px;
				color:$cool-grey;
				font:200 14px/16px $mont;
			}
		}
	}
	.amount-detail{
		float:right;
		width:336px;
		@extend %listreset;
		position:relative;
		&:after{
			top:50%;
			left:0;
			margin:-64px 0 0;
			content:"";
			position:absolute;
			@include size(156px,141px);
			background:url(../images/icon-stamp.png) no-repeat;
		}
		li{
			margin:0 0 11px;
			padding:0 0 0 10px;
			position:relative;
			&:nth-child(2){
				margin:0 0 46px;
			}
			&:last-child{
				&:after{
					top:-18px;
					left:0;
					right:0;
					height:1px;
					content:"";
					position:absolute;
					background:$athens-gray;
				}
			}
		}
		.amount-title{
			width:147px;
			@include align($align:middle);
			color:$cool-grey;
			font:200 14px/16px $mont;
		}
		.total-amount,
		.amount{
			width:135px;
			overflow:hidden;
			@include align($align:middle);
			color:$log-cabin;
			font:400 18px/20px $mont;
		}
		.total-amount{
			color:$christi;
			font:400 24px/26px $mont;
		}	
	}
}
.account-form-holder {
	overflow:hidden;
	
	input[type="submit"] {
		@include size(183px, 50px);
		margin:0 auto;
		display:block;
		border-radius:4px;
		border:1px solid $athens-gray;
		font-weight:700;
		@include font-size(14px, 17px);
		text-transform:uppercase;
		padding:6px 5px 5px;
	}
}

.acount-area {
	position:relative;
	overflow:hidden;
	margin:0 0 29px;
	background:$wild-sand;
	border:1px solid $athens-gray;
	
	@include media('<tablet'){
		margin:0 0 20px;
	}
	
	.heading {
		overflow:hidden;
		border-bottom:1px solid $athens-gray;
		padding:16px 29px 15px;
		margin:0 0 30px;
		
		@include media('<tablet'){
			padding:16px 15px 15px;
			margin:0 0 15px;
		}
		
		h2 {
			color:$christi;
			margin:0;
			@include font-size(24px, 27px);
			
			@include media('<widescreen'){
				font-size:21px;
			}
		}
	}
	
	label,
	.title {
		float:left;
		width:170px;
		max-width:inherit;
		@include font-size(14px, 17px);
		padding:16px 0 0;
		color:$black;
		font-weight:400;
		
		@include media('<large-x'){
			width:135px;
		}
		
		@include media('<widescreen'){
			font-size:13px;
			width:115px;
		}
		
		@include media('<desktop'){
			float:none;
			width:auto;
			display:block;
			padding:0;
			margin:0 0 10px;
		}
	}
	
	.jcf-select {
		@include size(100%, 48px);
		border:1px solid $ghost;
		border-radius:3px;
		
		.jcf-select-text {
			color:$cool-grey;
			margin:15px 22px 5px 19px;
		}
		
		.jcf-select-opener {
			height:48px;
			
			&:after {
				background:none;
				border-style: solid;
				border-width: 4px 4px 0;
				border-color:$christi transparent transparent;
				margin:-2px 0 0;
				left:-8px;
			}
		}
	}
}

.account-info {
	float:left;
	width:61.6%;
	border-right:1px solid $athens-gray;
	
	@include media('<large-x'){
		width:70%;
	}
	
	@include media('<desktop'){
		width:100%;
		height:auto !important;
		float:none;
		overflow:hidden;
		border-right:none;
		border-bottom:1px solid $athens-gray;
	}
	
	.fields-area {
		padding:0 29px 15px;
		overflow:hidden;
		
		@include media('<tablet'){
			padding:0 15px 15px;
		}
	}
	
	.fields-block {
		float:left;
		width:47.3%;
		
		@include media('<phone'){
			width:100%;
		}
		
		&:first-child {
			margin-right:5.4%;
			
			@include media('<phone'){
				margin:0;
			}
		}
	}
	
	.field-holder {
		@extend %clearfix;
		margin:0 0 20px;
		
		&.add {
			margin:0 0 42px;
			
			@include media('<tablet'){
				margin:0 0 30px;
			}
			
			@include media('<phone'){
				margin:0 0 15px;
			}
			
			.title {
				padding:0;
			}
		}
		
		&.add1 {
			margin:40px 0 38px;
			
			@include media('<tablet'){
				margin:30px 0;
			}
			
			@include media('<phone'){
				margin:15px 0;
			}
			
			.title {
				padding:0;
			}
		}
		
		.holder {
			overflow:hidden;
		}
	}
	
	.form-control {
		border:1px solid $ghost;
		@include size(100%, 48px);
		border-radius:3px;
		@include font-size(14px, 18px);
		color:$cool-grey;
		padding:14px 19px;
		
		&:focus {
			outline:none;
			box-shadow:none;
		}
		
		@include placeholder {
			color: $cool-grey;
		}
		
		&.hasDatepicker {
			background:#fff url(../images/calender-icon.png) no-repeat 95% 50%;
		}
	}
	
	.checkbox-holder {
		overflow:hidden;
		
		label {
			padding:0 0 0 26px;
			letter-spacing:-0.4px;
			color:#72778a;
			
			@include media('<desktop'){
				letter-spacing:0;
			}
		}
		
		.fake-input {
			top:0;
			border-color:$ghost;
		}
	}
	
	.checkbox-list {
		@extend %listreset;
		overflow:hidden;
		margin:0 -15px;
		
		li {
			float:left;
			margin:0 15px 5px;
		}
		
		label {
			width:auto;
		}
	}
}

.contact-info {
	float:right;
	width:38.4%;
	
	@include media('<large-x'){
		width:30%;
	}
	
	@include media('<desktop'){
		float:none;
		width:100%;
		height: auto !important;
		overflow:hidden;
	}
	
	.checkbox-farme {
		padding:0 29px 15px;
		overflow:hidden;
		
		@include media('<tablet'){
			padding:0 15px 15px;
		}
	}
	
	.checkbox-block {
		overflow:hidden;
		margin:0 0 43px;
		
		@include media('<desktop'){
			margin:0 0 30px;
		}
		
		@include media('<tablet'){
			margin:0 0 15px;
		}
		
		.title {
			float:none;
			width:auto;
			display:block;
			padding:0;
			margin:0 0 13px;
			letter-spacing:-0.5px;
		}
	}
	
	.checkbox-holder {
		overflow:hidden;
		
		label {
			padding:0 0 0 26px;
			color:#72778a;
		}
		
		.fake-input {
			top:1px;
			border-color:$ghost;
		}
	}
	
	.checkbox-list {
		@extend %listreset;
		overflow:hidden;
		margin:0 -18px;
		
		li {
			float:left;
			margin:0 18px 5px;
		}
		
		label {
			width:auto;
		}
	}
}


/* custom file input styles */
.jcf-file {
	display: inline-block;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	
	.jcf-real-element {
		position: absolute;
		font-size: 200px;
		height: 200px;
		margin: 0;
		right: 0;
		top: 0;
	}
	
	.jcf-fake-input {
		position:relative;
		display: inline-block;
		text-overflow:ellipsis;
		white-space: nowrap;
		vertical-align: top;
		overflow: hidden;
		padding: 0 0 0 28px;
		font-size: 14px;
		line-height: 18px;
		color:$santas-gray;
		
		&:after {
			content: "\e920";
			font-family: 'icomoon' !important;
			position:absolute;
			left:3px;
			top:0;
			font-size: 15px;
		}
	}
	
	.jcf-upload-button {
		white-space: nowrap;
		overflow: hidden;
		display:none;
		@include size(111px, 40px);
		border-radius:3px;
		@include font-size(14px, 17px);
		position:relative;
		padding:10px 5px 5px 45px;
		background:#389fff;
		color:$white;
		float:left;
		margin:0 10px 0 0;
		
		&:after {
			content:'';
			position:absolute;
			left:16px;
			top:9px;
			background:url(../images/sprite.png) no-repeat -127px -4px;
			@include size(20px, 18px);
		}
	}
}

/* custom select styles */
.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border:1px solid $dark-gray;
	background:$white;
	@include size(100%, 100%);
	
	&.jcf-drop-active {
		@include box-shadow(0 0 15px rgba(0,0,0,.08));
	}
	
	select {
		z-index: 1;
		left: 0;
		top: 0;
	}
	
	.jcf-select-text {
		text-overflow:ellipsis;
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
		display: block;
		@include font-size(14px, 18px);
		margin:9px 22px 5px 18px;
		color:#010101;
	}
	
	.jcf-select-opener {
		position: absolute;
		text-align: center;
		@include size(20px, 40px);
		bottom: 0;
		right: 0;
		top: 0;
		
		&:after {
			content:'';
			position:absolute;
			left:1px;
			top:50%;
			background:url(../images/sprite.png) no-repeat -51px -9px;
			@include size(8px, 5px);
			margin:-4px 0 0;
		}
	}
	
	.jcf-select-drop {
		position: absolute;
		margin-top: 0;
		z-index: 9999;
		top: 100%;
		left: -1px;
		right: -1px;
	}
	
	.jcf-drop-flipped {
		bottom: 100%;
		top: auto;
	}
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
	
	&.jcf-drop-flipped {
		margin: 1px 0 0;
	}
}

/* multiple select styles */
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border:1px solid $dark-gray;
	min-width: 200px;
	margin: 0 20px;
}
/* select options styles */
.jcf-list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: $white;
	@include font-size(14px, 18px);
	width: 100%;
	
	.jcf-list-content {
		vertical-align: top;
		display: inline-block;
		overflow: auto;
		width: 100%;
	}
	
	ul {
		@extend %listreset;
		
		li {
			display:block;
			overflow:hidden;
			border-bottom:1px solid $dark-gray;
		}
	}
	
	.jcf-overflow {
		overflow: auto;
	}
	
	.jcf-option {
		white-space: nowrap;
		overflow: hidden;
		cursor: default;
		display: block;
		padding:11px 9px 11px 20px;
		color: #010101;
		height: 1%;
	}
	
	.jcf-disabled {
		background: #fff !important;
		color: #aaa !important;
	}
	
	.jcf-optgroup-caption {
		white-space: nowrap;
		font-weight: bold;
		display: block;
		padding: 5px 9px;
		cursor: default;
		color: #000;
	}
	
	.jcf-list-content {
		vertical-align: top;
		display: inline-block;
		overflow: auto;
		width: 100%;
	}
}

.jcf-select-drop .jcf-select-drop-content {
	border:1px solid $dark-gray;
	@include box-shadow(0 0 15px rgba(0,0,0,.08));
}

.jcf-select-no-shadow .jcf-select-drop-content {
	@include box-shadow(none);
	border:1px solid $ghost;
}

.jcf-select-no-shadow .jcf-drop-active {
	@include box-shadow(none);
}

.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: #e6e6e6;
	color: #000;
}

.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}


.checkbox-holder [type="checkbox"],
.checkbox-holder [type="radio"]{
	position:fixed;
	left:0;
	top:0;
	opacity:0;
	z-index: -1;
}

.checkbox-holder {
	.fake-input,
	label {
		display:inline-block;
		vertical-align:middle;
	}
	
	label {
		position:relative;
		font-weight:400;
		margin:0;
		padding:0 0 0 26px;
	}
	
	.fake-label {
		display:inline-block;
		vertical-align:middle;
	}
	
	.fake-input{
		display:inline-block;
		vertical-align:middle;
		@include size(14px, 14px);
		border:1px solid $athens-gray;
		background:$white;
		position: absolute;
		border-radius:2px;
		margin:0;
		left:0;
		top:1px;
	}
}

.checkbox-holder [type="checkbox"] + .fake-input:before,
.checkbox-holder [type="radio"] + .fake-input:before{
	content:'';
	position:absolute;
	top:1px;
	left:1px;
	@include size(11px, 9px);
	opacity: 0;
	background:url(../images/sprite.png) no-repeat -56px -105px;
}

.checkbox-holder [type="checkbox"]:checked + .fake-input:before{opacity:1;}
.checkbox-holder [type="radio"]:checked + .fake-input:before{opacity:1;}

.checkbox-holder [type="checkbox"]:checked ~ .fake-input,
.checkbox-holder [type="radio"]:checked ~ .fake-input {
	background:$christi;
	border-color:$christi;
}

/* custom scrollbars styles */
.jcf-scrollable-wrapper {
	box-sizing: content-box;
	position: relative;
}
.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	background: #f4f4f4;
	width: 10px;
	bottom: 0;
	left: 0;
	top: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	background: #bbb;
	height:0;
	width: 0;
	left: 0;
	top: 0;
	display:none;
}
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	top: auto;
	bottom: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: #caccd8;
	height: 1px;
	width: 10px;
}
.jcf-scrollbar-horizontal {
	position: absolute;
	background: #e3e3e3;
	right: auto;
	top: auto;
	left: 0;
	bottom: 0;
	width: 1px;
	height:0;
	display:none;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background: #bbb;
	height: 14px;
	width: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	left: auto;
	right: 0;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
	display: inline-block;
	position: relative;
	height: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
	position: absolute;
	background:#7ac232;
	height: 14px;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
	visibility: hidden;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec, 
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
	background: #e3e3e3;
}

.ui-datepicker td span, .ui-datepicker td a {
	text-align:center !important;
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background:$christi !important;
	color:$white !important;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	width:15px !important;
	height:15px !important;
	font-weight:normal;
	top:8px !important;
	cursor:pointer !important;
}

.ui-datepicker .ui-datepicker-prev {
	left:3px !important;
	&:after {
		content: "\e924";
		position:absolute;
		left:-1px;
		top:-7px;
		font-size:18px;
		width:15px;
		height:15px;
		font-family: 'icomoon' !important;
		color:#000 !important;
	}
}

.ui-datepicker .ui-datepicker-next {
	right:3px !important;
	
	&:after {
		content: "\e925";
		position:absolute;
		left:-2px;
		top:-7px;
		font-size:18px;
		width:15px;
		height:15px;
		font-family: 'icomoon' !important;
		color:#000 !important;
	}
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{
	background:$christi !important;
	color:$white !important;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-widget-header .ui-state-hover,
.ui-datepicker .ui-datepicker-header .ui-state-focus,
.ui-datepicker .ui-datepicker-header .ui-widget-content .ui-state-focus {
	background:none !important;
	border:none !important;
	color:#000 !important;
}
