<div class="heading-bar">
	<strong class="name">4John Doe</strong>
	<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
</div>
<form action="#" class="person-info">
	<div class="name-area">
		<strong class="name-holder"><a href="#"><i class="icon"></i><span class="name">4John Doe</span> </a></strong>
		<time datetime="2016-02-14 02:50">2:50 PM</time>
	</div>
	<div class="person-detail-area">
		<div class="person-detail">
			<ul class="detail-list list-unstyled">
				<li>
					<strong class="description">Domain:</strong>
					<span class="text"><a href="#">CustomerDevelopmentMethodology.com</a></span>
				</li>
				<li>
					<strong class="description">Seller Offer:</strong>
					<span class="text">$2450</span>
				</li>
				<li>
					<strong class="description">My Offer:</strong>
					<span class="text">$2000</span>
				</li>
				<li>
					<strong class="description">Type:</strong>
					<span class="text brand">Brandable</span>
				</li>
				<li>
					<strong class="description">Message:</strong>
					<span class="text add">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</span>
				</li>
			</ul>
		</div>
	</div>
	<ul class="btn-list list-unstyled">
		<li><a href="#" class="btn btn-primary">Accept</a></li>
		<li><a href="#" class="btn add">Counter</a></li>
		<li><a href="#" class="btn add1">Decline</a></li>
	</ul>
	<div class="reply-area">
		<div class="field-holder">
			<textarea class="form-control" placeholder="Reply..."></textarea>
			<button type="submit"><i class="icon-paperplane"></i></button>
		</div>
		<div class="file-holder">
			<input type="file">
		</div>
	</div>
</form>