// custom variables and override bootstrap variables

$white:												#fff;
$black:												#000;
$mirage:											#171f2f;
$mirage2:											#151c22;
$dodger-blue:										#2398fb;
$blue-light:										#3c9ffb;
$cool-grey:											#9197af;
$lima:												#71be24;
$porcelain:											#f0f1f4;
$christi:											#5bb402;
$ghost:												#caccd8;
$strom-dust:										#626262;
$carnation:											#ff5652;
$bombay:											#aeafb2;
$bombay2:											#b4b7bf;
$grey-nurse:										#e9e9e9;
$black-haze:										#f5f6f9;
$mystic:											#e4e6ec;
$mystic2:											#e6ebf1;
$chatelle:											#b4b7c7;
$log-cabin:											#232323;
$outer-space:										#2a333a;
$light-slate:										#778599;
$arsenic:											#39444d;
$medium-orchid:										#b85ef7;
$coral-red:											#fa4444;
$yellow-green:										#8ac94b;
$french-gray:										#b5bbca;
$anti-flash-white:									#f3f3f3;
$guardsman-red:										#f7602b;
$wild-sand:											#f4f4f4;
$atlantis:											#7ac232;
$aluminium:											#a2a5ac;
$green-leaf:										#346305;
$cadet-blue:										#aaafc1;
$cadet-blue-dark:									#b2b6c6;
$slate-gray:										#6f7c96;
$concrete:											#f2f2f2;
$feijoa:											#a2d46f;
$santas-gray:										#979cb3;
$dark-gray:											#eeeff2;
$athens-gray:										#e2e4eb;
$white-smoke:										#F3F4F8;
$green-ryb:											#6aba29;
$pistachio:											#98ce64;	
$dark-jungle-green:									#1c2029;
$dove-gray:											#6f6f6f;									


//	Scaffolding
//	Settings for some of the most global styles.
$body-bg:											$white;
$text-color:										$mirage;
$link-color:										$dodger-blue;
$link-hover-decoration:								none;

//	Typography
//	Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:							Arial, Helvetica, sans-serif;
$mont:												'Montserrat', $font-family-sans-serif;
$font-family-base:									$mont;
$font-size-base:									14px;
$line-height-base:									1.714285;

$font-size-h1:										26px;
$font-size-h2:										24px;
$font-size-h3:										22px;
$font-size-h4:										18px;
$font-size-h5:										17px;
$font-size-h6:										16px;
$headings-font-weight:								400;

//	Navbar
$navbar-margin-bottom:								0;
$navbar-border-radius:								0;
$navbar-default-color:								$cool-grey;
$navbar-default-bg:									none;
$navbar-default-border:								transparent;
$navbar-default-link-color:							$cool-grey;
$navbar-default-link-hover-color:					$white;
$navbar-default-link-hover-bg:						$lima;
$navbar-default-link-active-color:					$white;
$navbar-default-link-active-bg:						$lima;

//	Media queries breakpoints
//	Define the breakpoints at which your layout will change, adapting to different screen sizes.
$screen-md:											1024px;
$screen-md-min:										$screen-md;

//	Grid system
//	Define your custom responsive grid.
$grid-gutter-width:									24px;
$grid-float-breakpoint:								$screen-md-min;
$grid-float-breakpoint-max:							($grid-float-breakpoint - 1);

//	Buttons
//	For each of Bootstrap's buttons, define text, background and border color.
$btn-font-weight:									700;

$btn-default-color:									$lima;
$btn-default-bg:									#f8f8f8;
$btn-default-border:								#e2e4eb;

$btn-primary-color:									$white;
$btn-primary-bg:									$lima;
$btn-primary-border:								$lima;

$btn-info-color:									$carnation;
$btn-info-bg:										$white;
$btn-info-border:									$carnation;

$btn-success-bg:									$white;
$btn-success-color:									$medium-orchid;
$btn-success-border:								$btn-success-color;

//	Breadcrumbs
$breadcrumb-padding-vertical:						7px;
$breadcrumb-padding-horizontal:						11px;
$breadcrumb-bg:										#f7f7f7;
$breadcrumb-color:									$cool-grey;
$breadcrumb-active-color:							$lima;

//	Forms
$input-border:										$ghost;
$input-border-radius:								3px;
$input-height-base:									48px;

//	Tables
//	Customizes the .table component with basic values, each used across all table variations.
$table-cell-padding:								14px;
$table-border-color:								$btn-default-border;



