@media print{
	* {
		background:none !important;
		color:#000 !important;
	}
	
	#header,
	.container-fluid,
	.header-holder,
	.navbar-default,
	#main,
	#footer,
	.container,
	.navbar-default .navbar-collapse,
	.tabs-holder,
	.tab-content-holder,
	.tab-content-holder .tab-content,
	.tab-content-holder .form-area,
	.tab-content-holder .heading-area,
	.tab-content-holder .heading-area .view-area,
	.tabs-holder .breadcrumb,
	.tab-content-holder .payment-holder,
	.tab-content-holder .confirmation-box,
	.table-block,
	.table-block .calculation-holder,
	.table-holder.thrd,
	.row,
	.col-xs-12,
	.tab-content-holder .payment-holder,
	.tab-content-holder .confirmation-box,
	.table-block .calculation-holder{
		display: block ;
		height: auto;
		overflow: visible !important;
		width: 100%!important;
		height:auto !important;
		min-width: inherit;
		max-width: inherit;
		float: none !important;
		background: none;
		border: 0;
		padding: 0;
		margin: 0;
	}
	
	
	.logo {
		float:none !important;
		display:block;
		margin:0 auto 20px;
	}
	
	.page-header {
		padding:20px 0 !important;
	}
	
	.table-holder {
		width:100% !important;
	}
	
	.table-area {
		overflow:inherit !important;
	}
	
	.table-holder th {
		border-bottom:1px solid #e2e4eb;
	}
	
	.jcf-select,
	.tab-content-holder .heading-area .form-control,
	.tab-content-holder .heading-area .btn {
		border-width:2px;
	}
	
	.navbar-default {
		position:relative;
		overflow:visible;
		@include css3(transform,translate(0));
	}
	
	.navbar-default .navbar-nav {
		text-align:center;
		padding:15px 0;
	}
	
	.navbar-default .navbar-nav > li {
		float:none !important;
		display:inline-block;
		vertical-align:middle;
	}
	
	.page-header {
		background:none !important;
	}
	
	.tab-content-holder .heading-area h2 {
		float:none;
		margin:0 0 10px;
	}
	
	.tab-content-holder .heading-area .view-area {
		float:none;
		margin:0;
	}
	
	.tab-content-holder .heading-area .btn {
		text-align:center;
		padding:6px 5px 5px;
	}
	
	.table-holder tbody a {
		letter-spacing:0;
	}
	
	.table-holder{page-break-inside: avoid;}
	
	.tab-content-holder .confirmation-box{
		margin:0 0 15px !important;
	}
	.table-holder.thrd{
		margin:0 0 50px !important;
	}
	
	.table-block .calculation-holder dl,
	.table-block .amount-detail{
		width:100% !important;
		float:none !important;
		display:block !important;
		overflow: visible !important;
	}
	#tab1,
	#tab2,
	#tab3,
	#tab5,
	#tab20,
	#tab21,
	.topbar,
	.container-holder .tabset,
	.tab-content-holder .pagniation-holder,
	.footer-aside,
	.topbar-opener,
	.navbar-toggle,
	.main-container:before,
	#wrapper:before {
		display:none !important;
	}
}