/* sidebar styles */
#sidebar {
	top: 0;
	left: 0;
	z-index: 11;
	width: 280px;
	position: absolute;
	@include media('<large-x') {
		width: 230px;
	}
	@include media('<large') {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 100;
		width: 230px;
		overflow: auto;
		position: absolute;
		background: $white;
		@include transition(all 0.25s ease);
		@include css3(transform,translate(-100%, 0));
		@include box-shadow(0 0 5px 0 rgba(0,0,0,0.2));
	}
	
	@include media('<=phone') {
		width: 230px;
	}
	
	.sidebar-active & {
		@include media('<large') {
			@include css3(transform,translate(0));
		}
	}
	
	.domain-page & {
		top: 0;
		left: 0;
		position: absolute;
		
		@include media('<1820px') {
			@include transition(all 0.25s ease);
			@include css3(transform,translate(-100%, 0));
		}
	}
	
	.domain-page.sidebar-active & {
		@include media('<1820px') {
			@include css3(transform,translate(0));
		}
	}
	
}

/* form-block-opener */
.form-block-opener {
	width: 100%;
	z-index: 12;
	display: block;
	margin: 0 0 17px;
	border-radius: 0;
	text-align: left;
	position: relative;
	white-space: normal;
	border: solid #d3dfd0;
	border-width: 0 0 1px;
	padding: 24px 50px 26px 20px;
	@include font-size(15px, 23px);
	@include box-shadow(0 2px 3px -2px rgba(0, 0, 0, 0.2));
	
	
	.icon-filter {
		top: 50%;
		right: 33px;
		position: absolute;
		@include css3(transform,translate(0,-50%));
	}
	
	&[aria-expanded=false] {
		.icon-filter {
			@include css3(transform,rotate(90deg) translate(-80%, 0));
		}
	}
}

/* form-filters */
.form-filters {
	display: block;
	margin: 0 0 20px;
	background: $white;
	padding: 0 23px 0 20px;
	@include css3(transition,all 0.25s ease);
	@include css3(transform,translate(-100%,0));
	@include media('<large-x') {
		padding: 0 10px;
	}
	
	&[aria-expanded="true"] {
		@include css3(transform,translate(0));
	}
	
	.domain-page & {
		@include media('<1820px') {
			display: block !important;
			height:auto !important;
			@include css3(transform,translate(0));
			
			/*&[aria-expanded=true] {
				display: none;
			}*/
		}
	}
	
	.list-view & {
		@include media('<large') {
			display: block;
			height:auto !important;
			
			&[aria-expanded=true] {
				display: none;
			}
		}
	}
	
	&:before {
		left: 0;
		bottom: 0;
		top: -92px;
		content: '';
		z-index: -1;
		width: 280px;
		height: 9999px;
		position: absolute;
		@include box-shadow(0 0 5px 0 rgba(0,0,0,0.2));
		@include media('<large-x') {
			width: 230px;
		}
		@include media('<large') {
			display: none;
		}
		
		.domain-page & {
			height: 9999px;
		}
	}
	
	.form-block {
		padding: 26px 0 30px;
		
		&:first-child {
			padding: 0;
		}
		
		+ .form-block {
			border-top: solid $grey-nurse 2px;
		}
	}
	
	h2 {
		color: $mirage;
		margin: 0 0 14px;
		font-weight: 400;
		@include font-size(21px);
		text-transform: uppercase;
		@include media('<tablet') {
			font-size: 16px;
		}
	}
	
	[type=range] {
		display: block;
		margin: 22px 0 21px;
	}
	
	.values  {
		@include font-size(15px);
	}
	
	[type=submit] {
		min-width: 170px;
		min-height: 53px;
		font: 700 24px/30px $mont;
	}
}

/* accordion */
.accordion {
	margin: 0;
	
	.panel-default {
		margin: 0;
		padding: 0;
		border: solid $grey-nurse;
		border-width: 2px 0 0;
		@include box-shadow(none);
		
		> .panel-heading {
			border: 0;
			background: none;
			overflow: hidden;
			position: relative;
			padding: 11px 11px 11px 9px;
			@include font-size(15px, 21px);
			
			.fake-checkbox,
			.fake-radio {
				float: left;
				margin: 0 12px 0 0;
				@include size(21px);
				
				> span {
					&:after {
						@include position(4px);
					}
				}
			}
			
			a {
				color: $black;
				display: block;
				overflow: hidden;
				position: relative;
				padding: 0 25px 0 0;
				
				&[aria-expanded=true] {
					outline: none;
					
					&:after,
					&:before {
						background: #aad87c;
					}
					
					&:before {
						top: -1px;
						height: 17px;
						transform: rotate(90deg);
					}
				}
				
				&:focus {
					outline: none;
				}
				
				&:after,
				&:before {
					top: 0;
					right: 0;
					content: '';
					position: absolute;
					background: darken($grey-nurse, 5%);
					@include transition(all 0.25s ease);
				}
				
				&:after {
					top: 7px;
					@include size(16px, 1px);
				}
				
				&:before {
					right: 8px;
					@include size(1px, 16px);
				}
			}
		}
	}
	
	.panel-body {
		border: solid $grey-nurse;
		border-width: 2px 0 0;
		padding: 15px 10px 19px 40px;
		
		ul {
			margin: 0;
			
			li + li {
				margin: 20px 0 0;
			}
		}
		
		.fake-checkbox,
		.fake-radio {
			float: left;
			margin: 2px 10px 0 0;
		}
		
		.label {
			padding: 0;
			display: block;
			font-weight: 400;
			overflow: hidden;
			border-radius: 0;
			text-align: left;
			@include font-size(15px);
		}
	}
	
	.btn-block {
		padding: 15px 5px;
		border: solid $grey-nurse;
		border-width: 2px 0 0;
		background: $btn-default-bg;
		@include font-size(15px, 1.26667);
		
	}
}

/* btn-all */
.btn-all {
	color: $lima;
	text-decoration: underline;
	
	&:hover {
		color: $lima;
		text-decoration: none;
	}
}

/* list-radios */
.list-radios {
	overflow: hidden;
	padding: 13px 0 0;
	margin: 0 -32px 8px 0;
	@include font-size(15px);
	@include media('<large-x') {
		margin: 0 0 8px;
	}
	
	li {
		float: left;
		width: 33.333%;
		padding: 0 5px 20px 0;
		@include media('<large-x') {
			width: 50%;
		}
	}
	
	.fake-checkbox,
	.fake-radio {
		margin: 0 2px 0 0;
		@include size(22px);
	}
	
	label {
		cursor: pointer;
	}
}