								<!-- item -->
								<article class="isotope-item item col-xs-12 col-sm-6 col-md-4 col-lg-3" data-date="01 January 2015">
									<div class="box">
										<div class="img-holder">
											<!-- picturefill html structure example -->
											<span data-picture data-alt="image description">
												<span data-src="images/img1.jpg" ></span>
												<span data-src="images/img1-2x.jpg" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
												<!--[if (lt IE 9) & (!IEMobile)]>
													<span data-src="images/img1-2x.jpg"></span>
												<![endif]-->
												<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
												<noscript><img src="images/img1-2x.jpg" alt="image description"></noscript>
											</span>
										</div>
										<h2><a href="#">CustomerDevelopmentMethodology.com</a></h2>
										<footer class="foot">
											<a href="#" class="btn btn-info pull-left btn-save">
												<span class="text">save</span>
												<i class="icon-heart"></i>
											</a>
											<a href="#" class="btn btn-default pull-right btn-buy">
												<span class="text">buy now</span>
												<i class="icon-shopping-cart"></i>
											</a>
											<strong class="price text-center">$3695</strong>
										</footer>
									</div>
								</article>
								<!-- item -->
								<article class="isotope-item item save col-xs-12 col-sm-6 col-md-4 col-lg-3" data-date="31 January 2014">
									<div class="box">
										<div class="img-holder">
											<!-- picturefill html structure example -->
											<span data-picture data-alt="image description">
												<span data-src="images/img1.jpg" ></span>
												<span data-src="images/img1-2x.jpg" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
												<!--[if (lt IE 9) & (!IEMobile)]>
													<span data-src="images/img1-2x.jpg"></span>
												<![endif]-->
												<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
												<noscript><img src="images/img1-2x.jpg" alt="image description"></noscript>
											</span>
										</div>
										<h2><a href="#">DevelopmentMethodology.com</a></h2>
										<footer class="foot">
											<a href="#" class="btn btn-info pull-left btn-save">
												<span class="text">save</span>
												<i class="icon-heart"></i>
											</a>
											<a href="#" class="btn btn-default pull-right btn-buy">
												<span class="text">buy now</span>
												<i class="icon-shopping-cart"></i>
											</a>
											<strong class="price text-center">$3695</strong>
										</footer>
									</div>
								</article>
								<!-- item -->
								<article class="isotope-item item buy col-xs-12 col-sm-6 col-md-4 col-lg-3" data-date="31 January 2012">
									<div class="box">
										<div class="img-holder">
											<!-- picturefill html structure example -->
											<span data-picture data-alt="image description">
												<span data-src="images/img1.jpg" ></span>
												<span data-src="images/img1-2x.jpg" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
												<!--[if (lt IE 9) & (!IEMobile)]>
													<span data-src="images/img1-2x.jpg"></span>
												<![endif]-->
												<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
												<noscript><img src="images/img1-2x.jpg" alt="image description"></noscript>
											</span>
										</div>
										<h2><a href="#">CustomerDevelopmentMethodology.com</a></h2>
										<footer class="foot">
											<a href="#" class="btn btn-info pull-left btn-save">
												<span class="text">save</span>
												<i class="icon-heart"></i>
											</a>
											<a href="#" class="btn btn-default pull-right btn-buy">
												<span class="text">buy now</span>
												<i class="icon-shopping-cart"></i>
											</a>
											<strong class="price text-center">$3695</strong>
										</footer>
									</div>
								</article>
								<!-- item -->
								<article class="isotope-item item col-xs-12 col-sm-6 col-md-4 col-lg-3" data-date="20 January 2015">
									<div class="box">
										<div class="img-holder">
											<!-- picturefill html structure example -->
											<span data-picture data-alt="image description">
												<span data-src="images/img1.jpg" ></span>
												<span data-src="images/img1-2x.jpg" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
												<!--[if (lt IE 9) & (!IEMobile)]>
													<span data-src="images/img1-2x.jpg"></span>
												<![endif]-->
												<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
												<noscript><img src="images/img1-2x.jpg" alt="image description"></noscript>
											</span>
										</div>
										<h2><a href="#">Methodology.com</a></h2>
										<footer class="foot">
											<a href="#" class="btn btn-info pull-left btn-save">
												<span class="text">save</span>
												<i class="icon-heart"></i>
											</a>
											<a href="#" class="btn btn-default pull-right btn-buy">
												<span class="text">buy now</span>
												<i class="icon-shopping-cart"></i>
											</a>
											<strong class="price text-center">$3695</strong>
										</footer>
									</div>
								</article>

<a class="load-more btn btn-primary" href="./inc/02.html">load more</a>
