<ul class="pagniation list-unstyled">
	<li class="active">1</li>
	<li><a href="#">2</a></li>
</ul>
<table>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn">Pending</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn cancel">cancelled</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn declined">Declined</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn">Pending</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn">Pending</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn">Pending</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn">Pending</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn">Pending</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn">Pending</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col4"><a href="#">2CustomerDevelopmentMethodology.com</a></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col5"><time datetime="2016-12-31">31-12-2016</time></td>
		<td class="col6">23659945#</td>
		<td class="col7">
			<div class="holder">
				<span class="text">Paypal</span>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
		<td class="col8">
			<div class="holder">
				<a href="#" class="btn">Pending</a>
				<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
			</div>
		</td>
	</tr>
</table>
