<ul class="pagniation list-unstyled">
	<li class="active">1</li>
	<li><a href="#">2</a></li>
</ul>
<table>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox" name="some-key2" checked>
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
			<span class="title">2Brandable</span>
		</td>
		<td class="col2">$28888888</td>
		<td class="col2"><time datetime="2016-12-31 ">21-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox"  name="some-key3" checked>
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
		</td>
		<td class="col2">$88888888</td>
		<td class="col2"><time datetime="2016-12-31 ">31-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox"  name="some-key4" checked>
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
			<span class="title add">Premium</span>
		</td>
		<td class="col2">$88888888</td>
		<td class="col2"><time datetime="2016-12-31 ">31-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox"  name="some-key5">
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
		</td>
		<td class="col2">$88888888</td>
		<td class="col2"><time datetime="2016-12-31 ">31-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox" name="some-key6">
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
		</td>
		<td class="col2">$88888888</td>
		<td class="col2"><time datetime="2016-12-31 ">31-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox"  name="some-key7">
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
		</td>
		<td class="col2">$88888888</td>
		<td class="col2"><time datetime="2016-12-31 ">31-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox"  name="some-key8">
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
		</td>
		<td class="col2">$88888888</td>
		<td class="col2"><time datetime="2016-12-31 ">31-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox"  name="some-key8">
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
		</td>
		<td class="col2">$88888888</td>
		<td class="col2"><time datetime="2016-12-31 ">31-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox"  name="some-key10">
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
		</td>
		<td class="col2">$88888888</td>
		<td class="col2"><time datetime="2016-12-31 ">31-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
	<tr>
		<td class="col1">
			<div class="checkbox-holder">
				<label>
					<input type="checkbox"  name="some-key11">
					<span class="fake-input"></span>
					2CustomerDevelopmentMethodology.com
				</label>
			</div>
		</td>
		<td class="col2">$88888888</td>
		<td class="col2"><time datetime="2016-12-31 ">31-12-2016</time></td>
		<td class="col3">
			<div class="del-area">
				<a href="#" class="btn">Buy Now</a>
				<a href="#" class="del-icon"><i class="icon-bin"></i></a>
			</div>
		</td>
	</tr>
</table>
