
								<!-- item -->
								<article class="isotope-item item-list save col-xs-12 col-sm-6 col-md-4"data-date="23 January 2015">
									<div class="box">
										<h2><a href="#">CustomerDevelopmentMethodology.com</a></h2>
										<footer class="foot">
											<strong class="price text-center">$88,888</strong>
											<a href="#" class="btn btn-default pull-right btn-buy">
												<span class="text">buy now</span>
												<i class="icon-shopping-cart"></i>
											</a>
											<a href="#" class="btn btn-info pull-right btn-save">
												<span class="text">save</span>
												<i class="icon-heart-o"></i>
											</a>
										</footer>
									</div>
								</article>
								<!-- item -->
								<article class="isotope-item item-list col-xs-12 col-sm-6 col-md-4"data-date="01 January 2015">
									<div class="box">
										<h2><a href="#">CustomerDevelopmentMethodology.com</a></h2>
										<footer class="foot">
											<strong class="price text-center">$88,888</strong>
											<a href="#" class="btn btn-default pull-right btn-buy">
												<span class="text">buy now</span>
												<i class="icon-shopping-cart"></i>
											</a>
											<a href="#" class="btn btn-info pull-right btn-save">
												<span class="text">save</span>
												<i class="icon-heart-o"></i>
											</a>
										</footer>
									</div>
								</article>
								<!-- item -->
								<article class="isotope-item item-list col-xs-12 col-sm-6 col-md-4"data-date="01 January 2015">
									<div class="box">
										<h2><a href="#">CustomerDevelopmentMethodology.com</a></h2>
										<footer class="foot">
											<strong class="price text-center">$88,888</strong>
											<a href="#" class="btn btn-default pull-right btn-buy">
												<span class="text">buy now</span>
												<i class="icon-shopping-cart"></i>
											</a>
											<a href="#" class="btn btn-info pull-right btn-save">
												<span class="text">save</span>
												<i class="icon-heart-o"></i>
											</a>
										</footer>
									</div>
								</article>