<div class="heading-bar">
	<strong class="name">John Doe</strong>
	<a href="#" class="setting-icon"><i class="icon-gear"></i></a>
</div>
<form action="#" class="person-info">
	<div class="name-area">
		<strong class="name-holder"><a href="#"><i class="icon"></i><span class="name">John Doe</span> </a></strong>
		<time datetime="2016-02-14 02:50">2:50 PM</time>
	</div>
	<div class="person-detail-area">
		<div class="person-detail">
			<ul class="detail-list list-unstyled">
				<li>
					<strong class="description">Domain:</strong>
					<span class="text"><a href="#">CustomerDevelopmentMethodology.com</a></span>
				</li>
				<li>
					<strong class="description">Message:</strong>
					<span class="text add">Need logo design for this domain Customer Development Methodology. Duis autem vel eum iriure dolor in hendrerit in vulputate velit.</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="reply-area">
		<div class="field-holder">
			<textarea class="form-control" placeholder="Reply..."></textarea>
			<button type="submit"><i class="icon-paperplane"></i></button>
		</div>
		<div class="file-holder">
			<input type="file">
		</div>
	</div>
</form>