.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

/* ---------------------------------------------------------
	1. Embedded fonts styles
	2. General reset
	3. Common site styles
---------------------------------------------------------*/

/* ---------------------------------------------------------
	1. Embedded fonts styles
---------------------------------------------------------*/

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot");
	src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svgicomoon") format("svg");
	font-weight: 400;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
	content: "\e917";
}

.icon-grid:before {
	content: "\e918";
}

.icon-phone:before {
	content: "\e900";
}

.icon-user:before {
	content: "\e901";
}

.icon-envelope:before {
	content: "\e902";
}

.icon-question:before {
	content: "\e903";
}

.icon-search:before {
	content: "\e904";
}

.icon-envelope2:before {
	content: "\e905";
}

.icon-cart:before {
	content: "\e906";
}

.icon-chat_bubble:before {
	content: "\e907";
}

.icon-phone2:before {
	content: "\e908";
}

.icon-chat_bubble_outline:before {
	content: "\e909";
}

.icon-phone_forwarded:before {
	content: "\e90a";
}

.icon-list:before {
	content: "\e919";
}

.icon-google:before {
	content: "\e90b";
}

.icon-envelope3:before {
	content: "\e91a";
}

.icon-close:before {
	content: "\e90c";
}

.icon-heart-o:before {
	content: "\e90d";
}

.icon-heart:before {
	content: "\e90e";
}

.icon-shopping-cart:before {
	content: "\e90f";
}

.icon-search2:before {
	content: "\e910";
}

.icon-filter:before {
	content: "\e911";
}

.icon-user2:before {
	content: "\e912";
}

.icon-youtube:before {
	content: "\e913";
}

.icon-linkedin:before {
	content: "\e914";
}

.icon-twitter:before {
	content: "\e915";
}

.icon-facebook:before {
	content: "\e916";
}

/* ---------------------------------------------------------
	2. General reset
---------------------------------------------------------*/

* {
	max-height: 1000000px;
}

html {
	height: 100%;
	background: #2a333a;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */

body {
	height: 100%;
	min-width: 320px;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: 100%;
}

@-webkit-viewport {
	width: device-width;
}

@-moz-viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/* set styles for default page links */

a,
button,
[type] {
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
}

a:focus,
button:focus,
[type]:focus {
	outline: none;
}

label {
	margin: 0;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
}

.label {
	color: inherit;
	white-space: normal;
}

.form-control {
	-webkit-appearance: none;
	box-shadow: none;
}

.btn {
	border-radius: 2px;
	white-space: normal;
	text-transform: uppercase;
}

.btn:hover,
.btn:focus,
.btn:active:focus {
	outline: none;
	box-shadow: none;
}

.btn.btn-default:hover,
.btn.btn-default:focus {
	color: #fff;
	background: #71be24;
	border-color: #71be24;
}

.btn.btn-info:hover,
.btn.btn-info:focus {
	color: #fff;
	background: #ff5652;
}

.btn.btn-success:hover,
.btn.btn-success:focus {
	color: #fff;
	background: #b85ef7;
}

/* ---------------------------------------------------------
	3. Common site styles
---------------------------------------------------------*/

/* main container styles */

#wrapper {
	display: table;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
}

.main-container:before,
#wrapper:before {
	opacity: 0;
	content: "";
	z-index: 50;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: rgba(0, 0, 0, .65);
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

.w1 {
	overflow: hidden;
	position: relative;
	display: table-cell;
	vertical-align: top;
}

.container {
	width: auto;
	max-width: 1200px;
}

.img-holder img {
	display: block;
	max-width: none;
	width: 100%;
	height: auto;
}

/* header styles */

#header {
	position: relative;
	padding: 23px 23px 32px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2);
}

/* page logo styles */

.logo {
	width: 215px;
	margin: 0 10px 0 0;
}

.logo a {
	display: block;
}

.logo img {
	display: block;
	max-width: none;
	width: 100%;
	height: auto;
}

/* topbar-opener */

.topbar-opener {
	float: left;
	display: none;
	margin: 3px 0 0;
	border-radius: 4px;
	text-align: center;
	color: #9197af;
	width: 44px;
	height: 34px;
	border: #9197af solid 1px;
	font-size: 18px;
	line-height: 32px;
}

.topbar-opener:hover {
	color: #fff;
	background: #71be24;
	border-color: #71be24;
}

/* topbar */

.topbar {
	padding: 0 31px 0 25px;
	border-bottom: solid 2px #f0f1f4;
}

.topbar-active .topbar {
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}

.topbar .social-networks {
	margin: 0 18px 0 0;
}

.topbar .social-networks li {
	margin: 0;
	border: #f0f1f4 solid;
	border-width: 1px 1px 0;
}

.topbar .social-networks li + li {
	border-left: solid 1px #f0f1f4;
}

.topbar .social-networks a {
	color: #caccd8;
	background: #fff;
	width: 63px;
	height: 50px;
	font-size: 21px;
	line-height: 50px;
}

.topbar .social-networks a:hover {
	color: #fff;
	background: #5bb402;
}

.topbar .helpline {
	margin: 15px 0 0;
	color: #626262;
}

.topbar .helpline i {
	color: #71be24;
	margin: 0 6px 0 0;
}

.topbar .info-links {
	margin: 0 0 0 37px;
	border: #f0f1f4 solid;
	border-width: 1px 1px 0;
	text-transform: uppercase;
}

.topbar .info-links li {
	padding: 0;
	float: left;
	position: relative;
}

.topbar .info-links li + li {
	border-left: solid 1px #f0f1f4;
}

.topbar .info-links a {
	display: block;
	min-width: 64px;
	padding: 13px 10px;
	text-align: center;
	color: #9197af;
	text-decoration: none;
}

.topbar .info-links a:hover {
	color: #676e8d;
}

.topbar .info-links [class^=icon-],
.topbar .info-links [class*=icon-] {
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
}

.topbar .items-counter {
	bottom: 0;
	left: 50%;
	color: #fff;
	background: #71be24;
	position: absolute;
	text-align: center;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	margin: 0 0 -11px -11px;
	font-size: 11px;
	line-height: 22px;
}

.topbar .topbar-opener {
	top: 0;
	right: 0;
	border: 0;
	margin: 0;
	z-index: 5;
	color: #fff;
	display: none;
	border-radius: 0;
	position: absolute;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
}

/* nav-signup */

.nav-signup {
	padding: 15px 0 0;
	text-transform: uppercase;
}

.nav-signup ul {
	margin: 0;
}

.nav-signup li {
	padding: 0;
	margin: 0 0 0 18px;
}

.nav-signup a {
	color: #9197af;
	text-decoration: none;
}

.nav-signup a:hover {
	color: #676e8d;
}

/* main navigation */

.navbar-default {
	border: 0;
	overflow: hidden;
	padding: 8px 9.4% 0 0;
	box-shadow: none;
}

.navbar-default .navbar-nav {
	float: none;
	text-align: center;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li {
	float: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 0 16px;
	font-size: 15px;
	line-height: 20px;
}

.navbar-default .navbar-nav > li > a {
	min-width: 120px;
	padding: 11px 10px;
	border-radius: 35px;
	line-height: inherit;
	text-align: center;
}

.navbar-default .navbar-nav > li.active > a {
	font-weight: 700;
}

.navbar-default .navbar-toggle {
	top: 0;
	left: 0;
	border: 0;
	margin: 0;
	padding: 0;
	z-index: 2;
	float: none;
	color: #fff;
	border-radius: 0;
	position: absolute;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
}

.navbar-default .navbar-toggle:hover {
	color: #fff;
	background: #71be24;
}

/* navbar-toggle */

.navbar-toggle {
	margin: 3px 0 0;
	border-color: #9197af;
	width: 44px;
	height: 34px;
}

.navbar-toggle .icon-bar {
	top: 8px;
	left: 10px;
	right: 10px;
	width: auto;
	position: absolute;
	background: #9197af;
	margin: 0 !important;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

.navbar-toggle .icon-bar:nth-child(2) {
	top: 15px;
}

.navbar-toggle .icon-bar:nth-child(3) {
	top: 23px;
}

.navbar-toggle:hover {
	background: #71be24;
	border-color: #71be24;
}

.navbar-toggle:hover .icon-bar {
	background: #fff;
}

/* sidebar styles */

#sidebar {
	top: 0;
	left: 0;
	z-index: 11;
	width: 280px;
	position: absolute;
}

.domain-page #sidebar {
	top: 0;
	left: 0;
	position: absolute;
}

/* form-block-opener */

.form-block-opener {
	width: 100%;
	z-index: 12;
	display: block;
	margin: 0 0 17px;
	border-radius: 0;
	text-align: left;
	position: relative;
	white-space: normal;
	border: solid #d3dfd0;
	border-width: 0 0 1px;
	padding: 24px 50px 26px 20px;
	font-size: 15px;
	line-height: 23px;
	box-shadow: 0 2px 3px -2px rgba(0, 0, 0, .2);
}

.form-block-opener .icon-filter {
	top: 50%;
	right: 33px;
	position: absolute;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.form-block-opener[aria-expanded=false] .icon-filter {
	-webkit-transform: rotate(90deg) translate(-80%, 0);
	-ms-transform: rotate(90deg) translate(-80%, 0);
	transform: rotate(90deg) translate(-80%, 0);
}

/* form-filters */

.form-filters {
	display: block;
	margin: 0 0 20px;
	background: #fff;
	padding: 0 23px 0 20px;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

.form-filters[aria-expanded="true"] {
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
}

.form-filters:before {
	left: 0;
	bottom: 0;
	top: -92px;
	content: "";
	z-index: -1;
	width: 280px;
	height: 9999px;
	position: absolute;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.domain-page .form-filters:before {
	height: 9999px;
}

.form-filters .form-block {
	padding: 26px 0 30px;
}

.form-filters .form-block:first-child {
	padding: 0;
}

.form-filters .form-block + .form-block {
	border-top: solid #e9e9e9 2px;
}

.form-filters h2 {
	color: #171f2f;
	margin: 0 0 14px;
	font-weight: 400;
	font-size: 21px;
	line-height: 1.25;
	text-transform: uppercase;
}

.form-filters [type=range] {
	display: block;
	margin: 22px 0 21px;
}

.form-filters .values {
	font-size: 15px;
	line-height: 1.25;
}

.form-filters [type=submit] {
	min-width: 170px;
	min-height: 53px;
	font: 700 24px/30px "Montserrat", Arial, Helvetica, sans-serif;
}

/* accordion */

.accordion {
	margin: 0;
}

.accordion .panel-default {
	margin: 0;
	padding: 0;
	border: solid #e9e9e9;
	border-width: 2px 0 0;
	box-shadow: none;
}

.accordion .panel-default > .panel-heading {
	border: 0;
	background: none;
	overflow: hidden;
	position: relative;
	padding: 11px 11px 11px 9px;
	font-size: 15px;
	line-height: 21px;
}

.accordion .panel-default > .panel-heading .fake-checkbox,
.accordion .panel-default > .panel-heading .fake-radio {
	float: left;
	margin: 0 12px 0 0;
	width: 21px;
	height: 21px;
}

.accordion .panel-default > .panel-heading .fake-checkbox > span:after,
.accordion .panel-default > .panel-heading .fake-radio > span:after {
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;
	position: absolute;
}

.accordion .panel-default > .panel-heading a {
	color: #000;
	display: block;
	overflow: hidden;
	position: relative;
	padding: 0 25px 0 0;
}

.accordion .panel-default > .panel-heading a[aria-expanded=true] {
	outline: none;
}

.accordion .panel-default > .panel-heading a[aria-expanded=true]:after,
.accordion .panel-default > .panel-heading a[aria-expanded=true]:before {
	background: #aad87c;
}

.accordion .panel-default > .panel-heading a[aria-expanded=true]:before {
	top: -1px;
	height: 17px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.accordion .panel-default > .panel-heading a:focus {
	outline: none;
}

.accordion .panel-default > .panel-heading a:after,
.accordion .panel-default > .panel-heading a:before {
	top: 0;
	right: 0;
	content: "";
	position: absolute;
	background: gainsboro;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

.accordion .panel-default > .panel-heading a:after {
	top: 7px;
	width: 16px;
	height: 1px;
}

.accordion .panel-default > .panel-heading a:before {
	right: 8px;
	width: 1px;
	height: 16px;
}

.accordion .panel-body {
	border: solid #e9e9e9;
	border-width: 2px 0 0;
	padding: 15px 10px 19px 40px;
}

.accordion .panel-body ul {
	margin: 0;
}

.accordion .panel-body ul li + li {
	margin: 20px 0 0;
}

.accordion .panel-body .fake-checkbox,
.accordion .panel-body .fake-radio {
	float: left;
	margin: 2px 10px 0 0;
}

.accordion .panel-body .label {
	padding: 0;
	display: block;
	font-weight: 400;
	overflow: hidden;
	border-radius: 0;
	text-align: left;
	font-size: 15px;
	line-height: 1.25;
}

.accordion .btn-block {
	padding: 15px 5px;
	border: solid #e9e9e9;
	border-width: 2px 0 0;
	background: #f8f8f8;
	font-size: 15px;
	line-height: 1.26667;
}

/* btn-all */

.btn-all {
	color: #71be24;
	text-decoration: underline;
}

.btn-all:hover {
	color: #71be24;
	text-decoration: none;
}

/* list-radios */

.list-radios {
	overflow: hidden;
	padding: 13px 0 0;
	margin: 0 -32px 8px 0;
	font-size: 15px;
	line-height: 1.25;
}

.list-radios li {
	float: left;
	width: 33.333%;
	padding: 0 5px 20px 0;
}

.list-radios .fake-checkbox,
.list-radios .fake-radio {
	margin: 0 2px 0 0;
	width: 22px;
	height: 22px;
}

.list-radios label {
	cursor: pointer;
}

/* main informative part styles */

#main {
	z-index: 2;
	overflow: hidden;
	padding: 0 0 7px;
	position: relative;
	-webkit-transition: padding .25s ease;
	transition: padding .25s ease;
}

#main.main-active .section-head {
	padding-left: 0;
}

.domain-page #main {
	padding: 0 0 7px;
}

.domain-page #main.main-active {
	padding-left: 0;
}

/* social-networks */

.social-networks {
	font-size: 0;
	line-height: 0;
}

.social-networks li {
	padding: 0;
	margin: 0 6px 5px;
	vertical-align: top;
}

.social-networks a {
	display: block;
	color: #5bb402;
	text-align: center;
	width: 43px;
	height: 43px;
	background: #151c22;
	font-size: 19px;
	line-height: 43px;
}

.social-networks a:hover {
	color: #5bb402;
	background: #fff;
}

/* page-header */

.page-header {
	margin: 0;
	color: #fff;
	border-width: 0;
	text-align: center;
	padding: 68px 0 77px;
	font-size: 17px;
	line-height: 1.25;
	background: url(../images/bg1.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.page-header h1 {
	margin: 0 0 11px;
	text-transform: uppercase;
}

.page-header h1 small {
	display: block;
	color: #fff;
}

.page-header p {
	margin: 0;
}

/* main-container */

.main-container {
	overflow: hidden;
	padding: 12px 18px 12px 13px;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

/* fake-radio */

.fake-checkbox,
.fake-radio {
	cursor: pointer;
	overflow: hidden;
	margin: 0 5px 0 0;
	position: relative;
	width: 17px;
	height: 17px;
	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;
}

.fake-checkbox [type=checkbox],
.fake-checkbox [type=radio],
.fake-radio [type=checkbox],
.fake-radio [type=radio] {
	top: 0;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
}

.fake-checkbox [type=checkbox]:checked + span,
.fake-checkbox [type=radio]:checked + span,
.fake-radio [type=checkbox]:checked + span,
.fake-radio [type=radio]:checked + span {
	border-color: #71be24;
}

.fake-checkbox [type=checkbox]:checked + span:after,
.fake-checkbox [type=radio]:checked + span:after,
.fake-radio [type=checkbox]:checked + span:after,
.fake-radio [type=radio]:checked + span:after {
	opacity: 1;
}

.fake-checkbox [type=checkbox]:checked:hover + span,
.fake-checkbox [type=radio]:checked:hover + span,
.fake-radio [type=checkbox]:checked:hover + span,
.fake-radio [type=radio]:checked:hover + span {
	border-color: #71be24;
}

.fake-checkbox [type=checkbox]:hover + span,
.fake-checkbox [type=radio]:hover + span,
.fake-radio [type=checkbox]:hover + span,
.fake-radio [type=radio]:hover + span {
	border-color: #7a7b80;
}

.fake-checkbox > span,
.fake-radio > span {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: solid 2px #aeafb2;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

.fake-checkbox > span:after,
.fake-radio > span:after {
	opacity: 0;
	content: "";
	background: #71be24;
	border-radius: 100%;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	position: absolute;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

/* products-area */

.products-area {
	padding-bottom: 30px;
}

.products-area .products-holder {
	padding-bottom: 81px;
}

.products-area .section-footer {
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 10px;
	position: absolute;
}

.products-area .section-footer .btn {
	min-width: 183px;
	padding: 13px 10px;
}

.domain-page .products-area {
	padding-bottom: 6px;
}

.domain-page .products-area h2 {
	font-weight: 700;
	margin: 0 0 17px;
	color: #9197af;
	text-transform: none;
	font-size: 14px;
	line-height: 1.25;
	text-transform: uppercase;
}

.domain-page .products-area .container,
.domain-page .products-area [class^=col-],
.domain-page .products-area [class*=col-] {
	padding-left: 9px;
	padding-right: 9px;
}

.domain-page .products-area .row {
	margin-left: -9px;
	margin-right: -9px;
}

.domain-page .products-area .item h2 {
	font-weight: 400;
	text-align: center;
	text-transform: none;
	font-size: 16px;
	line-height: 1.25;
}

/* section-head */

.section-head {
	margin: 0 -4px 21px 0;
	-webkit-transition: padding .25s ease;
	transition: padding .25s ease;
}

.section-head .head {
	padding: 0 0 12px;
	margin: 0 0 19px 0;
	border-bottom: solid 1px #e2e4eb;
}

/* nav-products */

.nav-products {
	position: relative;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 3.26661;
}

.nav-products ul {
	margin: 0;
	float: left;
}

.nav-products.active ul {
	height: auto;
}

.nav-products li {
	padding: 0;
	float: left;
}

.nav-products a {
	display: block;
	min-width: 160px;
	color: #9197af;
	text-align: center;
	position: relative;
}

.nav-products a:after {
	left: 0;
	right: 0;
	opacity: 0;
	content: "";
	height: 5px;
	bottom: -15px;
	background: #71be24;
	position: absolute;
	visibility: hidden;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

.nav-products a:hover,
.nav-products .active a {
	color: #71be24;
}

.nav-products a:hover:after,
.nav-products .active a:after {
	opacity: 1;
	visibility: visible;
}

.nav-products .btn-opener {
	z-index: 11;
	display: none;
	padding: 0 10px;
	text-align: right;
	position: relative;
}

.nav-products .btn-opener:hover,
.nav-products .btn-opener:focus {
	outline: none;
}

.nav-products .btn-opener .glyphicon {
	top: 3px;
	position: relative;
}

/* form-search */

.form-search {
	width: 450px;
}

.form-search label {
	float: left;
	color: #71be24;
	margin: 15px 18px 0 0;
	font-size: 15px;
	line-height: 1.25;
	text-transform: uppercase;
}

.form-search .form-holder {
	overflow: hidden;
	position: relative;
	background: #f5f6f9;
	border: solid 1px #e4e6ec;
	padding: 8px 63px 9px 15px;
}

.form-search .form-control {
	border: 0;
	height: 30px;
	padding: 3px 0;
	border-radius: 0;
	color: #9197af;
	background: #f5f6f9;
	box-shadow: none;
	font-size: 15px;
	line-height: 20px;
}

.form-search .form-control::-webkit-input-placeholder {
	color: #9197af;
}

.form-search .form-control::-moz-placeholder {
	opacity: 1;
	color: #9197af;
}

.form-search .form-control:-moz-placeholder {
	color: #9197af;
}

.form-search .form-control:-ms-input-placeholder {
	color: #9197af;
}

.form-search .form-control.placeholder {
	color: #9197af;
}

.form-search .form-control:focus {
	outline: none;
	box-shadow: none;
}

.form-search .btn-link {
	top: 50%;
	right: 7px;
	color: #b4b7c7;
	margin: -15px 0 0;
	position: absolute;
	text-align: center;
	width: 46px;
	height: 30px;
	border-left: solid 1px #71be24;
	font-size: 20px;
	line-height: 28px;
}

.form-search .btn-link:hover {
	color: #71be24;
}

/* sort-type */

.sort-type .sort-holder {
	width: 319px;
	position: relative;
	padding: 0 96px 0 0;
	border: solid 1px #e2e4eb;
}

.sort-type .btn-list,
.sort-type .btn-grid {
	top: 0;
	right: 0;
	bottom: 0;
	width: 49px;
	color: #171f2f;
	text-align: center;
	position: absolute;
	font-size: 18px;
	line-height: 53px;
	border-left: solid 1px #e2e4eb;
}

.sort-type .btn-list:hover,
.sort-type .btn-list.active,
.sort-type .btn-grid:hover,
.sort-type .btn-grid.active {
	color: #171f2f;
	background: #e2e4eb;
}

.sort-type .btn-grid {
	right: 49px;
}

/* sort-select */

.sort-select {
	position: relative;
}

.sort-select .btn-link {
	width: 100%;
	display: block;
	color: #171f2f;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: uppercase;
	padding: 14px 51px 11px 13px;
	font-size: 15px;
	line-height: 19px;
}

.sort-select .caret {
	top: 50%;
	right: 20px;
	position: absolute;
	border-width: 6px 5px 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.sort-select #sortDrop {
	top: 100%;
	z-index: 5;
	left: -1px;
	width: 100%;
	min-width: 150px;
	position: absolute;
	background: #fff;
	border: solid 1px #e2e4eb;
}

.sort-select #sortDrop ul {
	margin: 0;
	padding: 10px;
}

.sort-select #sortDrop li + li {
	border-top: solid 1px #e2e4eb;
}

.sort-select #sortDrop a {
	color: #000;
	display: block;
	padding: 5px 10px;
}

.sort-select #sortDrop a:hover {
	background: #e2e4eb;
}

/* item */

.item-list,
.item {
	margin: 0 0 20px;
}

.item-list .box,
.item .box {
	height: 100%;
	background: #fff;
	padding: 19px 15px 14px;
	border: #e2e4eb solid 1px;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}

.item-list .box:hover,
.item .box:hover {
	box-shadow: 0 0 16px 0 rgba(30, 35, 54, .2);
}

.item-list .img-holder,
.item .img-holder {
	margin: 0 0 17px;
}

.item-list h2,
.item h2 {
	font-weight: 400;
	text-align: center;
	margin: 0 -10px 17px;
	word-break: break-all;
	font-size: 16px;
	line-height: 1.25;
}

.item-list .foot,
.item .foot {
	padding: 15px 0 0;
	margin: 0 0 0 -2px;
	border: solid #e2e4eb;
	border-width: 1px 0 0;
}

.item-list .foot:before,
.item-list .foot:after,
.item .foot:before,
.item .foot:after {
	content: " ";
	display: table;
}

.item-list .foot:after,
.item .foot:after {
	clear: both;
}

.item-list .price,
.item .price {
	display: block;
	overflow: hidden;
	font-weight: 400;
	color: #232323;
	text-align: center;
	padding: 10px 5px 0;
	font-size: 16px;
	line-height: 1.25;
}

.item-list .btn,
.item .btn {
	min-width: 103px;
	padding: 5px 5px;
	border-radius: 3px;
	font-size: 12px;
	line-height: 30px;
}

.item-list .btn i,
.item .btn i {
	font-size: 15px;
	line-height: inherit;
}

.item-list .icon-shopping-cart,
.item-list .icon-heart,
.item .icon-shopping-cart,
.item .icon-heart {
	display: none;
}

.item-list.save .btn-info,
.item.save .btn-info {
	color: #fff;
	background: #ff5652;
}

.item-list.save .btn-info .text,
.item.save .btn-info .text {
	display: none;
}

.item-list.save .btn-info .icon-heart,
.item.save .btn-info .icon-heart {
	display: block;
}

.item-list.buy .btn-default,
.item.buy .btn-default {
	color: #fff;
	background: #71be24;
	border-color: #71be24;
}

.item-list.buy .btn-default .text,
.item.buy .btn-default .text {
	display: none;
}

.item-list.buy .btn-default .icon-shopping-cart,
.item.buy .btn-default .icon-shopping-cart {
	display: block;
}

/* item-list */

.item-list .box {
	overflow: hidden;
	padding: 12px 11px 10px;
}

.item-list h2 {
	float: left;
	width: 52%;
	margin: 9px 0 0;
	text-align: left;
	letter-spacing: -.02rem;
	font: 14px/1.25 Arial, Helvetica, sans-serif;
}

.item-list h2 a {
	display: inline-block;
	vertical-align: top;
	margin: 0 -10px 0 0;
}

.domain-page .item-list h2 {
	font-weight: 400;
	letter-spacing: -1px;
}

.item-list .foot {
	padding: 0;
	float: right;
	border-width: 0;
}

.item-list .price {
	float: left;
	text-align: right;
	padding: 9px 5px 9px 0;
	font-size: 14px;
	line-height: 1.25;
}

.item-list .btn {
	margin: 0;
	min-width: 94px;
	padding: 7px 3px;
	font-size: 11px;
	line-height: 20px;
}

.item-list .btn i {
	font-size: 16px;
}

.item-list .btn .icon-heart-o {
	display: inline-block;
	vertical-align: top;
}

.item-list .btn-info {
	min-width: 38px;
	margin: 0 11px 0 0;
	color: #fa4444;
	background: #fff;
	border-color: #fa4444;
}

.item-list .btn-info .text {
	display: none;
}

.item-list.save .btn-info {
	color: #fa4444;
	background: #fff;
	border-color: #fa4444;
}

.item-list.save .icon-heart-o:before {
	content: "\e90e";
}

/* sidebar-opener */

.sidebar-opener {
	display: none;
	padding: 0 10px;
	font-weight: 400;
	line-height: 49px;
	border-radius: 5px;
	margin: 0 10px 0 0;
	position: relative;
}

.sidebar-active .sidebar-opener {
	z-index: 51;
}

.sidebar-opener .glyphicon-remove {
	display: none;
}

.sidebar-active .sidebar-opener {
	color: #fff;
	background: #71be24;
}

.sidebar-active .sidebar-opener .glyphicon-remove {
	display: inline;
}

.sidebar-active .sidebar-opener .icon-filter {
	display: none;
}

/* domain-page */

.domain-page .container,
.domain-page [class^=col-],
.domain-page [class*=col-] {
	padding-left: 15px;
	padding-right: 15px;
}

.domain-page .row {
	margin-left: -15px;
	margin-right: -15px;
}

.domain-page .section-head {
	margin: 0 19px 21px 0;
	padding: 0 8px 0 305px;
}

.domain-page .section-head .head {
	margin: 0;
	padding: 0 0 12px;
}

.domain-page .section-head .form-block-opener {
	margin: 0;
}

.domain-page .form-filters {
	padding-top: 17px;
}

/* main content styles */

#content {
	margin-bottom: 14px;
}

#content h2 {
	font-weight: 700;
	margin: 0 0 17px;
	color: #9197af;
	font-size: 14px;
	line-height: 1.25;
	text-transform: uppercase;
}

/* breadcrumbs */

.breadcrumb {
	margin-bottom: 17px;
}

.breadcrumb li + li:before {
	padding: 0;
	margin: 0 -1px;
}

.breadcrumb a {
	color: #9197af;
}

.breadcrumb a:hover {
	color: #71be24;
}

/* post */

.post {
	margin: 0 0 20px;
}

.post .post-info {
	margin: 0 0 37px;
	padding: 20px 20px 34px;
	border: #e2e4eb solid 1px;
}

.post .img-holder {
	margin: 0 0 25px;
	position: relative;
}

.post .img-holder:before {
	top: 0;
	right: 0;
	z-index: 1;
	content: "";
	position: absolute;
	border-style: solid dashed;
	border-color: transparent;
	border-width: 52px 0 0 61px;
	border-top-color: #fff;
}

.post h3 {
	margin: 0;
	font-size: 31px;
	text-align: center;
	word-break: break-all;
}

/* btn-favorite */

.btn-favorite {
	z-index: 3;
	top: -14px;
	right: -3px;
	color: #caccd8;
	font-size: 29px;
	position: absolute;
}

.btn-favorite:hover {
	color: #ff5652;
}

/* table */

.table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border: #e2e4eb solid 1px;
}

.table td {
	letter-spacing: .05rem;
	color: rgba(23, 31, 47, .8);
}

.table td:first-child {
	width: 28.1%;
	color: #171f2f;
	letter-spacing: normal;
	text-transform: uppercase;
}

.table > tbody > tr > td {
	padding-bottom: 21px;
}

/* aside  */

/* form-order */

.form-order {
	padding: 15px 0;
	margin: 0 0 29px;
	border: #e2e4eb solid 1px;
}

.form-order .info {
	padding: 0 30px 29px 30px;
}

.form-order .info .btn-default {
	display: block;
	font-weight: 700;
	background: #fff;
	padding: 31px 10px;
	font-size: 36px;
	line-height: 1.25;
	border-color: #8ac94b;
}

.form-order .info .btn-default:hover {
	color: #fff;
	background: #8ac94b;
}

.form-order .info .btn-default:focus {
	color: #71be24;
	background: #fff;
}

.form-order .price {
	display: block;
	color: #171f2f;
	margin: 0 0 32px;
	font-weight: 400;
	text-align: center;
	font-size: 48px;
	line-height: 1.25;
}

.form-order .form-holder {
	margin: 0 0 30px;
	position: relative;
	padding: 26px 30px 21px 30px;
	background: #f3f3f3;
	border: solid #e2e4eb;
	border-width: 1px 0;
}

.form-order .form-holder:before {
	top: 0;
	right: 0;
	content: "";
	position: absolute;
	border-style: solid dashed;
	border-color: transparent;
	border-width: 49px 0 0 51px;
	border-top-color: #b5bbca;
}

.form-order .btn-close {
	top: 5px;
	z-index: 2;
	right: 10px;
	color: #fff;
	position: absolute;
}

.form-order .field-row {
	margin: 0 0 18px;
}

.form-order .label {
	padding: 0;
	display: block;
	color: #171f2f;
	margin: 0 0 7px;
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	font-size: 100%;
	line-height: 1.125;
}

.form-order textarea {
	resize: none;
	height: 118px;
	margin: 0 0 20px;
}

.form-order [type=submit] {
	width: 100%;
	min-height: 48px;
}

.form-order .social-area {
	padding: 0 26px 0 37px;
}

.form-order .social-networks {
	margin: 0;
}

.form-order .social-networks li {
	width: 20%;
	margin: 0 -1px -1px;
	border: #e2e4eb solid 1px;
}

.form-order .social-networks a {
	color: #caccd8;
	min-width: 40px;
	background: #fff;
	width: auto;
	height: auto;
	font-size: 21px;
	line-height: 50px;
}

.form-order .social-networks a:hover {
	color: #fff;
	background: #71be24;
}

/* media */

.media {
	margin: 0 0 30px;
}

.media .media-img {
	display: block;
	max-width: none;
	width: 100%;
	height: auto;
}

/* has-error */

.has-error label {
	color: #a94442;
}

/* custom range input styles */

.jcf-range {
	padding: 5px;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0 -5px 12px;
}

.jcf-range .jcf-range-track {
	height: 6px;
	display: block;
	margin: 0 23px 0 0;
	position: relative;
}

.jcf-range .jcf-range-wrapper {
	height: 6px;
	display: block;
	margin: 10px 0;
	background: #e2e4eb;
}

.jcf-range .jcf-range-mid {
	position: absolute;
	background: #71be24;
	width: 10px;
	height: 6px;
}

.jcf-range .jcf-range-display-wrapper {
	position: absolute;
	min-height: 6px;
	min-width: 10px;
	left: 10px;
	right: 10px;
}

.jcf-range.jcf-vertical {
	width: auto;
}

.jcf-range.jcf-vertical .jcf-range-wrapper {
	margin: 0;
	width: 10px;
	height: auto;
	padding: 20px 0 0;
}

.jcf-range.jcf-vertical .jcf-range-track {
	height: 180px;
	width: 10px;
}

.jcf-range.jcf-vertical .jcf-range-handle {
	left: -5px;
	top: auto;
}

.jcf-range .jcf-range-handle {
	top: 0;
	left: 0;
	z-index: 1;
	cursor: pointer;
	margin: -9px 0 0;
	position: absolute;
	background: #fff;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	border: #e3e3e3 solid 1px;
	box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .2);
}

.jcf-range .jcf-range-mark {
	position: absolute;
	overflow: hidden;
	background: #000;
	width: 1px;
	height: 3px;
	top: -7px;
	margin: 0 0 0 9px;
}

.jcf-range.jcf-vertical .jcf-range-mark {
	margin: 0 0 9px;
	left: 14px;
	top: auto;
	width: 3px;
	height: 1px;
}

.jcf-range.jcf-disabled {
	background: none !important;
	opacity: .3;
}

.single-range {
	position: relative;
}

.single-range:before {
	top: 50%;
	left: -6px;
	content: "";
	z-index: 5;
	margin: -4px 0 0;
	width: 6px;
	height: 6px;
	background: #fff;
	position: absolute;
}

.single-range .jcf-range-wrapper {
	background: #71be24;
	border-radius: 1px;
}

.single-range .jcf-range {
	padding: 5px 3px 5px 5px;
}

.single-range .jcf-range .jcf-range-handle:before {
	top: 50%;
	left: 100%;
	content: "";
	margin: -3px 0 0;
	position: absolute;
	background: #e2e4eb;
	width: 9999px;
	height: 6px;
}

/* footer styles */

.bottom-container {
	overflow: hidden;
	width: 100%;
	height: 1%;
	background: #2a333a;
	display: table-footer-group;
}

.bottom-container a {
	color: #778599;
}

.bottom-container a:hover {
	color: #fff;
}

.bottom-container .social-networks a {
	color: #5bb402;
}

.bottom-container .social-networks a:hover {
	color: #5bb402;
	background: #fff;
}

/* footer-aside */

.footer-aside {
	color: #778599;
	padding: 29px 81px 14px 70px;
	font-size: 15px;
	line-height: 2.1334;
}

.footer-aside .logo {
	display: block;
	margin: 0 0 34px;
}

.footer-aside .text-holder {
	padding: 0 0 23px;
}

.footer-aside .text-holder a {
	font-weight: 700;
	color: #5bb402;
	text-decoration: none;
}

.footer-aside .text-holder a:hover {
	color: #356801;
}

.footer-aside p {
	margin: 0 0 10px;
}

.footer-aside h3 {
	color: #e6ebf1;
	margin: 16px 0 26px;
	font-size: 19px;
	line-height: 1.25;
	text-transform: uppercase;
}

.footer-aside .social-area h3 {
	margin: 0 0 25px;
}

.footer-aside nav li + li {
	margin: 4px 0 0;
}

.footer-aside .social-links li + li {
	margin: 4px 0 0;
}

.footer-aside .social-links i {
	margin: 0 13px 0 0;
}

.footer-aside .social-links a {
	display: inline-block;
	vertical-align: top;
	color: #5bb402;
	text-decoration: none;
}

.footer-aside .social-links a:hover {
	color: #356801;
}

.footer-aside .social-links a[href^=tel],
.footer-aside .social-links a[href^=mailto] {
	color: #778599;
	word-break: break-all;
}

.footer-aside .social-links a[href^=tel]:hover,
.footer-aside .social-links a[href^=mailto]:hover {
	color: #fff;
}

.footer-aside .social-links a i {
	color: #5bb402;
}

/* footer */

#footer {
	color: #b4b7bf;
	padding: 18px 0;
	font-size: 15px;
	line-height: 1.25;
	border-top: solid 1px #39444d;
}

#footer p {
	margin: 0;
}

#footer a {
	color: #5bb402;
	text-decoration: none;
}

#footer a:hover {
	color: #356801;
}

@media (min-width: 769px) {
	.form-order {
		margin: 34px 0 29px;
	}
}

@media (min-width: 1024px) {
	#wrapper:before {
		display: none;
	}
}

@media (min-width: 1025px) {
	a[href^="tel"],
	a[href^="skype"],
	a[href^="sms"] {
		cursor: default;
		pointer-events: none;
	}

	.domain-page .main-container {
		padding: 12px 0;
	}
}

@media (min-width: 1201px) {
	.domain-page .products-area .products-holder {
		margin-bottom: 10px;
	}

	#content .post .post-info + h2 {
		margin: 0 0 15px;
	}

	.table td:first-child {
		padding-left: 29px;
		font-size: 16px;
		line-height: 24px;
	}

	.table > tbody > tr:first-child > td {
		padding-bottom: 30px;
	}

	.form-order {
		padding: 29px 0 36px;
	}
}

@media (min-width: 1400px) {
	#main.main-active {
		padding-left: 230px;
	}

	.section-head {
		padding-left: 230px;
	}
}

@media (min-width: 1640px) {
	#main.main-active {
		padding-left: 280px;
	}

	.section-head {
		padding-left: 280px;
	}
}

@media (min-width: 1801px) {
	#content.col-sm-8 {
		width: 63.867%;
	}

	.aside.col-sm-4 {
		width: 35.833%;
	}
}

@media (min-width: 1820px) {
	.domain-page #main.main-active .section-head {
		padding: 0 8px 0 305px;
	}
}

@media (min-width: 1895px) {
	.domain-page .item-list h2 {
		margin: 9px 0 0;
	}
}

@media (max-width: 1909px) {
	.item-list .btn-info {
		margin: 0 4px 0 0;
	}
}

@media (max-width: 1894px) {
	.item-list h2 {
		float: none;
		width: auto;
		font-size: 13px;
		max-width: none;
		margin: 0 0 10px;
	}

	.item-list .foot {
		float: none;
		width: auto;
		max-width: none;
		padding: 10px 0 0;
		border-width: 1px 0 0;
	}
}

@media (max-width: 1849px) {
	.item-list h2,
	.item h2 {
		font-size: 14px;
	}
}

@media (max-width: 1819px) {
	.domain-page #sidebar {
		-webkit-transition: all .25s ease;
		transition: all .25s ease;
		-webkit-transform: translate(-100%, 0);
		-ms-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}

	.domain-page.sidebar-active #sidebar {
		-webkit-transform: translate(0);
		-ms-transform: translate(0);
		transform: translate(0);
	}

	.domain-page .form-filters {
		display: block !important;
		height: auto !important;
		-webkit-transform: translate(0);
		-ms-transform: translate(0);
		transform: translate(0); /*&[aria-expanded=true] {
				display: none;
			}*/
	}

	.domain-page.sidebar-active .main-container {
		-webkit-transform: translate(280px, 0);
		-ms-transform: translate(280px, 0);
		transform: translate(280px, 0);
	}

	.domain-page.sidebar-active .main-container:before {
		opacity: 1;
		bottom: -20px;
		visibility: visible;
	}

	.domain-page .section-head {
		padding: 0;
		margin: 0 15px 20px;
	}

	.domain-page .section-head .sidebar-opener {
		display: block;
	}
}

@media (max-width: 1639px) {
	#sidebar {
		width: 230px;
	}

	.form-filters {
		padding: 0 10px;
	}

	.form-filters:before {
		width: 230px;
	}

	.list-radios {
		margin: 0 0 8px;
	}

	.list-radios li {
		width: 50%;
	}

	.sidebar-active .main-container {
		-webkit-transform: translate(230px, 0);
		-ms-transform: translate(230px, 0);
		transform: translate(230px, 0);
	}

	.domain-page.sidebar-active .main-container {
		-webkit-transform: translate(230px, 0);
		-ms-transform: translate(230px, 0);
		transform: translate(230px, 0);
	}

	.nav-products a {
		padding: 0 15px;
		min-width: inherit;
	}

	.item-list .box,
	.item .box {
		padding: 10px;
	}

	.item-list .btn,
	.item .btn {
		min-width: 70px;
	}
}

@media (max-width: 1599px) {
	.item-list h2,
	.item h2 {
		font-size: 12px;
	}
}

@media (max-width: 1400px) {
	.footer-aside {
		padding: 29px 0;
		font-size: 13px;
	}
}

@media (max-width: 1399px) {
	.navbar-default {
		padding: 8px 0 0;
	}

	.navbar-default .navbar-nav {
		text-align: right;
	}

	.navbar-default .navbar-nav > li {
		margin: 0 0 0 10px;
	}

	.navbar-default .navbar-nav > li > a {
		min-width: 80px;
		border-radius: 20px;
	}

	#sidebar {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 100;
		width: 230px;
		overflow: auto;
		position: absolute;
		background: #fff;
		-webkit-transition: all .25s ease;
		transition: all .25s ease;
		-webkit-transform: translate(-100%, 0);
		-ms-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
	}

	.sidebar-active #sidebar {
		-webkit-transform: translate(0);
		-ms-transform: translate(0);
		transform: translate(0);
	}

	.list-view .form-filters {
		display: block;
		height: auto !important;
	}

	.list-view .form-filters[aria-expanded=true] {
		display: none;
	}

	.form-filters:before {
		display: none;
	}

	.sidebar-active .main-container:before {
		opacity: 1;
		bottom: -20px;
		visibility: visible;
	}

	.sidebar-active .main-container {
		overflow: visible;
		-webkit-transform: translate(280px, 0);
		-ms-transform: translate(280px, 0);
		transform: translate(280px, 0);
	}

	.nav-products a {
		padding: 0 10px;
	}

	.sidebar-opener {
		display: block;
	}
}

@media (max-width: 1330px) {
	.nav-products {
		width: 280px;
		border-radius: 3px;
		border: solid 1px #e2e4eb;
	}

	.nav-products ul {
		top: -1px;
		height: 0;
		left: -1px;
		right: -1px;
		float: none;
		z-index: 10;
		overflow: hidden;
		position: absolute;
		background: #fff;
		padding: 49px 0 0;
		border-radius: 3px;
		border: solid 1px #e2e4eb;
	}

	.nav-products.active ul li {
		border-color: #e2e4eb;
	}

	.nav-products li {
		float: none;
		display: block;
		border-bottom: solid 1px transparent;
	}

	.nav-products li:last-child {
		border: 0;
	}

	.nav-products li.active {
		left: 0;
		right: 0;
		top: 1px;
		position: absolute;
	}

	.nav-products a {
		text-align: left;
		padding: 0 50px 0 10px;
	}

	.nav-products a:after {
		display: none;
	}

	.nav-products .btn-opener {
		display: block;
	}
}

@media (max-width: 1199px) {
	.post h3 {
		font-size: 20px;
	}
}

@media (max-width: 1024px) {
	.domain-page .products-area .item h2 {
		font-size: 12px;
	}

	.domain-page .item-list h2 {
		font-size: 11px;
		letter-spacing: normal;
	}
}

@media (max-width: 1023px) {
	body.topbar-active,
	body.nav-active {
		position: fixed;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.topbar-active #wrapper:before,
	.nav-active #wrapper:before {
		opacity: 1;
		visibility: visible;
	}

	.w1 {
		display: block;
		overflow: visible;
		-webkit-transition: all .25s ease;
		transition: all .25s ease;
	}

	#header {
		padding: 10px 0;
	}

	#header .header-holder {
		overflow: hidden;
	}

	#header .logo {
		display: block;
		margin: 0 auto;
		float: none !important;
	}

	.topbar-opener {
		display: block;
	}

	.topbar {
		top: 0;
		left: 0;
		z-index: 199;
		overflow: auto;
		position: fixed;
		padding: 30px 10px 0;
		background: #2a333a;
		width: 280px;
		height: 100%;
		-webkit-transition: all .25s ease;
		transition: all .25s ease;
		border: solid #15191c;
		-webkit-transform: translate(-100%, 0);
		-ms-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
		border-width: 0 0 30px;
	}

	.topbar:before {
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		height: 30px;
		display: block;
		position: absolute;
		background: #15191c;
	}

	.topbar .social-networks {
		width: 100%;
		margin: 0 0 20px;
	}

	.topbar .social-networks li {
		width: 20%;
		border-width: 1px;
		margin: 0 -1px 0 0;
	}

	.topbar .social-networks a {
		width: auto;
		background: #556775;
	}

	.topbar .helpline {
		margin: 0;
	}

	.topbar .info-links {
		width: 100%;
		margin: 0 0 20px;
		border-width: 1px;
	}

	.topbar .info-links li {
		width: 25%;
	}

	.topbar .info-links a {
		min-width: inherit;
	}

	.topbar .info-links a:hover {
		color: #fff;
		background: #71be24;
	}

	.topbar .info-links a:hover + .items-counter {
		background: #58931c;
	}

	.topbar .topbar-opener {
		display: block;
	}

	.nav-signup {
		padding: 0;
		width: 100%;
		margin: 0 0 20px;
	}

	.nav-signup ul {
		overflow: hidden;
		margin: 0 -10px;
		border: #e2e4eb solid;
		border-width: 1px 0;
	}

	.nav-signup li {
		margin: 0;
		float: left;
		width: 50%;
		padding: 0;
		text-align: center;
	}

	.nav-signup li + li {
		border-left: solid 1px #e2e4eb;
	}

	.nav-signup a {
		display: block;
		padding: 10px;
	}

	.nav-signup a:hover {
		color: #fff;
		background: #71be24;
	}

	.navbar-default {
		top: 0;
		right: 0;
		padding: 0;
		z-index: 199;
		height: 100%;
		width: 280px;
		position: fixed;
		overflow: hidden;
		background: #2a333a;
		-webkit-transition: all .25s ease;
		transition: all .25s ease;
		-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
		transform: translate(100%, 0);
	}

	.nav-active .navbar-default {
		-webkit-transform: translate(0);
		-ms-transform: translate(0);
		transform: translate(0);
	}

	.navbar-default .navbar-nav {
		margin: 0;
	}

	.navbar-default .navbar-nav > li {
		margin: 0;
		display: block;
	}

	.navbar-default .navbar-nav > li > a {
		border-radius: 0;
		min-width: inherit;
	}

	.navbar-default .navbar-collapse {
		border: 0;
		padding: 0;
		display: block;
		max-height: none;
		height: 100% !important;
		border: solid #15191c;
		border-width: 30px 0;
	}

	.main-container {
		padding: 12px 0;
	}

	.section-head {
		margin: 0 0 10px;
	}

	.section-head .head {
		margin: 0 0 10px;
		padding: 0 0 10px;
	}

	.nav-products {
		width: 68%;
		float: right !important;
	}

	.form-search {
		width: 100%;
		padding: 10px 0 0;
	}

	.sidebar-opener {
		width: 30%;
		margin: 0;
	}

	.form-order .info {
		padding: 15px 30px;
	}

	.form-order .info .btn-default {
		font-size: 20px;
		padding: 15px 10px;
	}

	.form-order .price {
		font-size: 24px;
	}

	.form-order .form-holder {
		padding: 30px 15px;
	}

	.form-order .social-area {
		padding: 0 5px;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.sort-type .btn-list,
	.sort-type .btn-grid {
		line-height: 50px;
	}
}

@media (max-width: 767px) {
	.form-filters h2 {
		font-size: 16px;
	}

	.item-list,
	.item {
		height: auto !important;
	}

	.bottom-container {
		text-align: center;
	}

	.footer-aside .logo {
		margin: 0 auto 20px;
	}

	.footer-aside .text-holder {
		padding: 0 0 20px;
	}
}

@media (max-width: 640px) {
	.post .post-info {
		padding: 10px 10px 20px;
	}

	.post h3 {
		font-size: 12px;
	}

	.post .table tr,
	.post .table tbody,
	.post .table td {
		width: 100%;
		display: block;
	}

	.post .table td {
		border-width: 0;
		text-align: center;
		padding: 10px !important;
	}

	.post .table td:first-child {
		width: 100%;
		border: #e2e4eb solid;
		border-width: 1px 0 0;
	}
}

@media (max-width: 480px) {
	#sidebar {
		width: 230px;
	}

	.form-search label {
		float: none;
		margin: 0 0 5px;
	}

	.sort-type .sort-holder {
		width: 100%;
	}
}

@media (max-width: 479px) {
	.logo {
		width: 150px;
	}
}
