// custom fonts

@font-face { @include fontface('icomoon', icomoon, 400, normal); }

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bars:before { content: "\e917"; }
.icon-grid:before { content: "\e918"; }
.icon-phone:before { content: "\e900"; }
.icon-user:before { content: "\e901"; }
.icon-envelope:before { content: "\e902"; }
.icon-question:before { content: "\e903"; }
.icon-search:before { content: "\e904"; }
.icon-envelope2:before { content: "\e905"; }
.icon-cart:before { content: "\e906"; }
.icon-chat_bubble:before { content: "\e907"; }
.icon-phone2:before { content: "\e908"; }
.icon-chat_bubble_outline:before { content: "\e909"; }
.icon-phone_forwarded:before { content: "\e90a"; }
.icon-list:before { content: "\e919"; }
.icon-google:before { content: "\e90b"; }
.icon-envelope3:before { content: "\e91a"; }
.icon-close:before { content: "\e90c"; }
.icon-heart-o:before { content: "\e90d"; }
.icon-heart:before { content: "\e90e"; }
.icon-shopping-cart:before { content: "\e90f"; }
.icon-search2:before { content: "\e910"; }
.icon-filter:before { content: "\e911"; }
.icon-user2:before { content: "\e912"; }
.icon-youtube:before { content: "\e913"; }
.icon-linkedin:before { content: "\e914"; }
.icon-twitter:before { content: "\e915"; }
.icon-facebook:before { content: "\e916"; }
.icon-print:before { content: "\e91b";}
.icon-gear:before {content: "\e91c";}
.icon-calendar:before {content: "\e91d";}
.icon-paperplane:before {content: "\e91e";}
.icon-checkmark:before {content: "\e91f";}
.icon-attachment:before {content: "\e920";}
.icon-bin:before {content: "\e923";}
.icon-keyboard_arrow_left:before {content: "\e924";}
.icon-navigate_next:before {content: "\e925";}
.icon-out:before {content: "\e922";}



.icon-chevron-down:before {
    content: "\e926";
}
.icon-chevron-up:before {
    content: "\e927";
}
.icon-chevron-left:before {
    content: "\e928";
}