// reset
/* ---------------------------------------------------------
	1. Embedded fonts styles
	2. General reset
	3. Common site styles
---------------------------------------------------------*/

/* ---------------------------------------------------------
	1. Embedded fonts styles
---------------------------------------------------------*/
@import '_custom-icons';

/* ---------------------------------------------------------
	2. General reset
---------------------------------------------------------*/
* { max-height: 1000000px; }
html {
	height: 100%;
	background: $outer-space;
}

/*
 * set default text color
 * set default font size, line height and font family
 * set default background
 */
body {
	height: 100%;
	min-width: 320px;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: 100%;
	
	&.topbar-active,
	&.nav-active {
		@include media('<desktop') {
			position: fixed;
			overflow: hidden;
			@include size(100%);
		}
	}
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* set styles for default page links */
a,
button,
[type] {
	@include transition(all 0.35s ease);
	
	&:focus {
		outline: none;
	}
}

label {
	margin: 0;
	color: inherit;
	font-weight: inherit;
	@include font-size(inherit, inherit);
}

.label {
	color: inherit;
	white-space: normal;
}

.form-control {
	-webkit-appearance: none;
	@include box-shadow(none);
}

.btn {
	border-radius: 2px;
	white-space: normal;
	text-transform: uppercase;
	
	&:hover,
	&:focus,
	&:active:focus {
		outline: none;
		@include box-shadow(none);
	}
	
	&.btn-default {
		
		&:hover,
		&:focus {
			color: $white;
			background: $lima;
			border-color: $lima;
			
		}
	}
	
	&.btn-info {
		
		&:hover,
		&:focus {
			color: $white;
			background: $carnation;
		}
	}
	
	&.btn-success {
		&:hover,
		&:focus {
			color: $white;
			background: $medium-orchid;
		}
	}
}

@include media('>desktop') {
	a[href^="tel"], a[href^="skype"], a[href^="sms"] {
		cursor: default;
		pointer-events: none;
	}
}

/* ---------------------------------------------------------
	3. Common site styles
---------------------------------------------------------*/
/* main container styles */
#wrapper {
	display: table;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	@include size(100%);
	background: $body-bg;
	
	
	.topbar-active &,
	.nav-active & {
		@include media('<desktop') {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	
	@include media('>=desktop') {
		&:before {
			display: none;
		}
	}
	
}

.main-container,
#wrapper {
	&:before {
		opacity: 0;
		content: '';
		z-index: 50;
		visibility: hidden;
		@include position(0);
		background: rgba(0,0,0,0.65);
		@include transition(all 0.25s ease);
	}
}

.w1 {
	overflow: hidden;
	position: relative;
	@include align(table-cell, top);
	
	@include media('<desktop') {
		display: block;
		overflow: visible;
		@include transition(all 0.25s ease);
	}
}

.container {
	width: auto;
	max-width: 1200px;
}

.img-holder {
	img {
		@include responsive-img;
	}
}