/* footer styles */
.bottom-container {
	overflow: hidden;
	@include size(100%, 1%);
	background: $outer-space;
	display: table-footer-group;
	
	@include media('<tablet') {
		text-align: center;
	}
	
	a {
		color: $light-slate;
		
		&:hover {
			color: $white;
		}
	}
	
	.social-networks {
		a {
			color: $christi;
			&:hover {
				color: $christi;
				background: $white;
			}
		}
	}
}

/* footer-aside */
.footer-aside {
	color: $light-slate;
	padding: 29px 81px 14px 70px;
	@include font-size(15px, 2.1334);
	@include media('<=large') {
		padding: 29px 0;
		font-size: 13px;
	}
	
	.logo {
		display: block;
		margin: 0 0 34px;
		@include media('<tablet') {
			margin:0 auto 20px;
		}
	}
	
	.text-holder {
		padding: 0 0 23px;
		@include media('<tablet') {
			padding: 0 0 20px;
		}
		
		a {
			font-weight: 700;
			@include link-color($christi);
		}
	}
	
	p {
		margin: 0 0 10px;
		
		
		
	}
	
	h3 {
		color: $mystic2;
		margin: 16px 0 26px;
		@include font-size(19px);
		text-transform: uppercase;
	}
	
	.social-area {
		h3 {
			margin: 0 0 25px;
		}
	}
	
	nav {
		li + li {
			margin: 4px 0 0;
		}
	}
	
	.social-links {
		li + li {
			margin: 4px 0 0;
		}
		
		i {
			margin: 0 13px 0 0;
		}
		
		a {
			@include align;
			@include link-color($christi);
			
			&[href^=tel],
			&[href^=mailto] {
				color: $light-slate;
				word-break: break-all;
				
				&:hover {
					color: $white;
				}
			}
			
			i {
				color: $christi;
			}
		}
	}
}

/* footer */
#footer {
	color: $bombay2;
	padding: 18px 0;
	@include font-size(15px);
	border-top: solid 1px $arsenic;
	
	p { margin: 0; }
	
	a {
		@include link-color($christi);
	}
}