/* header styles */
#header {
	position: relative;
	padding: 23px 23px 32px;
	@include box-shadow(0 4px 5px 0 rgba(0,0,0,0.2));
	@include media('<desktop') {
		padding: 10px 0;
	}
	
	.header-holder {
		@include media('<desktop') {
			overflow: hidden;
		}
	}
	
	.logo {
		@include media('<desktop') {
			display: block;
			margin: 0 auto;
			float: none !important;
		}
	}
}

/* page logo styles */
.logo{
	width: 215px;
	margin: 0 10px 0 0;
	@include media('<phone') {
		width: 150px;
	}
	
	a {
		display: block;
	}
	
	img {
		@include responsive-img;
	}
}

/* topbar-opener */
.topbar-opener {
	float: left;
	display: none;
	margin: 3px 0 0;
	border-radius: 4px;
	text-align: center;
	color: $cool-grey;
	@include size(44px, 34px);
	border: $cool-grey solid 1px;
	@include font-size(18px, 32px);
	
	&:hover {
		color: $white;
		background: $lima;
		border-color: $lima;
	}
	
	@include media('<desktop') {
		display: block;
	}
}

/* topbar */
.topbar {
	padding: 0 31px 0 25px;
	border-bottom: solid 2px $porcelain;
	
	@include media('<desktop') {
		top: 0;
		left: 0;
		z-index: 199;
		overflow: auto;
		position: fixed;
		padding: 30px 10px 0;
		background: $outer-space;
		@include size(280px, 100%);
		@include transition(all 0.25s ease);
		border: solid darken($outer-space, 10%);
		@include css3(transform,translate(-100%,0));
		border-width: 0 0 30px;
		
		&:before {
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
			height: 30px;
			display: block;
			position: absolute;
			background: darken($outer-space, 10%);
		}
	}
	
	.topbar-active & {
		@include css3(transform,translate(0));
	}
	
	.social-networks {
		margin: 0 18px 0 0;
		@include media('<desktop') {
			width: 100%;
			margin: 0 0 20px;
		}
		
		li {
			margin: 0;
			border: $porcelain solid;
			border-width: 1px 1px 0;
			@include media('<desktop') {
				width: 20%;
				border-width: 1px;
				margin: 0 -1px 0 0;
			}
			
			+ li {
				border-left: solid 1px $porcelain;
			}
		}
		
		a {
			color: $ghost;
			background: $white;
			@include size(63px, 50px);
			@include font-size(21px, 50px);
			@include media('<desktop') {
				width: auto;
				background: lighten($outer-space, 20%);
			}
			
			&:hover {
				color: $white;
				background: $christi;
			}
		}
	}
	
	.helpline {
		margin: 15px 0 0;
		color: $strom-dust;
		@include media('<desktop') {
			margin: 0;
		}
		
		i {
			color: $lima;
			margin: 0 6px 0 0;
		}
	}
	
	.info-links {
		margin: 0 0 0 37px;
		border: $porcelain solid;
		border-width: 1px 1px 0;
		text-transform: uppercase;
		@include media('<desktop') {
			width: 100%;
			margin: 0 0 20px;
			border-width: 1px;
		}
		
		li {
			padding: 0;
			float: left;
			position: relative;
			@include media('<desktop') {
				width: 25%;
			}
			
			+ li {
				border-left: solid 1px $porcelain;
			}
		}
		
		a {
			display: block;
			min-width: 64px;
			padding: 13px 10px;
			text-align: center;
			@include link-color($cool-grey);
			@include media('<desktop') {
				min-width: inherit;
				
				&:hover {
					color: $white;
					background: $lima;
					
					+ .items-counter {
						background: darken($lima, 10%);
					}
				}
			}
		}
		
		[class^=icon-],
		[class*= icon-] {
			@include align;
			font-size: 21px;
		}
	}
	
	.items-counter {
		bottom: 0;
		left: 50%;
		color: $white;
		background: $lima;
		position: absolute;
		text-align: center;
		@include size(22px);
		border-radius: 100%;
		margin: 0 0 -11px -11px;
		@include font-size(11px, 22px);
	}
	
	.topbar-opener {
		top: 0;
		right: 0;
		border: 0;
		margin: 0;
		z-index: 5;
		color: $white;
		display: none;
		border-radius: 0;
		position: absolute;
		@include size(30px);
		@include font-size(20px, 30px);
		
		@include media('<desktop') {
			display: block;
		}
	}
}

/* nav-signup */
.nav-signup {
	padding: 15px 0 0;
	text-transform: uppercase;
	@include media('<desktop') {
		padding: 0;
		width: 100%;
		margin: 0 0 20px;
	}
	
	ul {
		margin: 0;
		@include media('<desktop') {
			overflow: hidden;
			margin: 0 -10px;
			border: $btn-default-border solid;
			border-width: 1px 0;
		}
	}
	
	li {
		padding: 0;
		margin: 0 0 0 18px;
		
		@include media('<desktop') {
			margin: 0;
			float: left;
			width: 50%;
			padding: 0;
			text-align: center;
			
			+ li {
				border-left: solid 1px $btn-default-border;
			}
		}
	}
	
	a {
		@include link-color($cool-grey);
		@include media('<desktop') {
			display: block;
			padding: 10px;
			
			&:hover {
				color: $white;
				background: $lima;
			}
		}
	}
}

/* main navigation */
.navbar-default {
	border: 0;
	overflow: hidden;
	padding: 8px 9.4% 0 0;
	@include box-shadow(none);
	@include media('<large') {
		padding: 8px 0 0;
	}
	@include media('<desktop') {
		top: 0;
		right: 0;
		padding: 0;
		z-index: 199;
		height: 100%;
		width: 280px;
		position: fixed;
		overflow: hidden;
		background: $outer-space;
		@include transition(all 0.25s ease);
		@include css3(transform,translate(100%,0));
	}
	
	.nav-active & {
		@include media('<desktop') {
			@include css3(transform,translate(0));
		}
	}
	
	.navbar-nav {
		float: none;
		text-align: center;
		text-transform: uppercase;
		
		@include media('<large') {
			text-align: right;
		}
		@include media('<desktop') {
			margin: 0;
		}
		
		> li {
			float: none;
			@include align;
			margin: 0 15px 0 16px;
			@include font-size(15px, 20px);
			@include media('<large') {
				margin: 0 0 0 10px;
			}
			@include media('<desktop') {
				margin: 0;
				display: block;
			}
			
			> a {
				min-width: 120px;
				padding: 11px 10px;
				border-radius: 35px;
				line-height: inherit;
				text-align: center;
				@include media('<large') {
					min-width: 80px;
					border-radius: 20px;
				}
				@include media('<desktop') {
					border-radius: 0;
					min-width: inherit;
				}
			}
			
			&.active {
				> a {
					font-weight: 700;
				}
			}
		}
	}
	
	.navbar-collapse {
		@include media('<desktop') {
			border: 0;
			padding: 0;
			display: block;
			max-height: none;
			height: 100% !important;
			border: solid darken($outer-space, 10%);
			border-width: 30px 0;
		}
	}
	
	.navbar-toggle {
		top: 0;
		left: 0;
		border: 0;
		margin: 0;
		padding: 0;
		z-index: 2;
		float: none;
		color: $white;
		border-radius: 0;
		position: absolute;
		@include size(30px);
		@include font-size(20px, 30px);
		
		&:hover {
			color: $white;
			background: $lima;
		}
	}
}

/* navbar-toggle */
.navbar-toggle {
	margin: 3px 0 0;
	border-color: $cool-grey;
	@include size(44px, 34px);
	
	.icon-bar {
		top: 8px;
		left: 10px;
		right: 10px;
		width: auto;
		position: absolute;
		background: $cool-grey;
		margin: 0 !important;
		@include transition(all 0.25s ease);
		&:nth-child(2) {
			top: 15px;
		}
		&:nth-child(3) {
			top: 23px;
		}
	}
	
	&:hover {
		
		background: $lima;
		border-color: $lima;
		.icon-bar {
			background: $white;
		}
	}
}
