/* main informative part styles */
#main {
	z-index: 2;
	overflow: hidden;
	padding: 0 0 7px;
	position: relative;
	@include css3(transition,padding 0.25s ease);
	
	
	&.main-active {
		@include media('>=large') {
			padding-left: 230px;
		}
		@include media('>=large-x') {
			padding-left: 280px;
		}
		
		.section-head {
			padding-left: 0;
		}
	}
	
	.domain-page & {
		padding: 0 0 7px;
	}
}

.domain-page {
	#main.main-active {
		padding-left: 0;
	}
}


/* social-networks */
.social-networks {
	@include font-size(0,0);
	
	li {
		padding: 0;
		margin: 0 6px 5px;
		vertical-align: top;
	}
	
	a {
		display: block;
		color: $christi;
		text-align: center;
		@include size(43px);
		background: $mirage2;
		@include font-size(19px, 43px);
		
		&:hover {
			color: $christi;
			background: $white;
		}
	}
}

/* page-header */
.page-header {
	margin: 0;
	color: $white;
	border-width: 0;
	text-align: center;
	padding: 68px 0 77px;
	@include font-size(17px);
	background: url(../images/bg1.jpg) no-repeat 50% 50%;
	background-size: cover;
	
	h1 {
		margin: 0 0 11px;
		text-transform: uppercase;
		small {
			display: block;
			color: $white;
		}
	}
	
	p { margin: 0; }
}

/* main-container */
.main-container {
	overflow: hidden;
	padding: 12px 18px 12px 13px;
	@include transition(all 0.25s ease);
	@include media('<desktop') {
		padding: 12px 0;
	}
	
	.domain-page & {
		@include media('>desktop') {
			padding: 12px 0;
		}
	}
	
	.sidebar-active & {
		&:before {
			@include media('<large') {
				opacity: 1;
				bottom: -20px;
				visibility: visible;
			}
		}
	}
	
	.sidebar-active & {
		@include media('<large') {
			overflow: visible;
			@include css3(transform,translate(280px, 0));
		}
		@include media('<large-x') {
			@include css3(transform,translate(230px, 0));
		}
	}
	
	.domain-page.sidebar-active & {
		@include media('<1820px') {
			@include css3(transform,translate(280px, 0));
		}
		@include media('<large-x') {
			@include css3(transform,translate(230px, 0));
		}
		
		&:before {
			@include media('<1820px') {
				opacity: 1;
				bottom: -20px;
				visibility: visible;
			}
		}
	}
}

/* fake-radio */
.fake-checkbox,
.fake-radio {
	cursor: pointer;
	overflow: hidden;
	margin: 0 5px 0 0;
	position: relative;
	@include size(17px);
	border-radius: 100%;
	@include align($align: middle);
	
	
	[type=checkbox],
	[type=radio] {
		top: 0;
		left: 0;
		margin: 0;
		opacity: 0;
		position: absolute;
		
		&:checked {
			+ span {
				border-color: $lima;
				
				&:after {
					opacity: 1;
				}
			}
			
			&:hover {
				+ span {
					border-color: $lima;
				}
			}
		}
		
		&:hover {
			+ span {
				border-color: darken($bombay, 20%);
			}
		}
		
	}
	
	> span {
		display: block;
		position: relative;
		@include size(100%);
		border-radius: 100%;
		border: solid 2px $bombay;
		@include transition(all 0.25s ease);
		
		&:after {
			opacity: 0;
			content: '';
			background: $lima;
			border-radius: 100%;
			@include position(3px);
			@include transition(all 0.25s ease);
		}
	}
}

/* products-area */
.products-area {
	padding-bottom: 30px;
	
	.products-holder {
		padding-bottom: 81px;
	}
	
	.section-footer {
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 10px;
		position: absolute;
		
		.btn {
			min-width: 183px;
			padding: 13px 10px;
		}
	}
	
	.domain-page & {
		padding-bottom: 6px;
		
		h2 {
			font-weight: 700;
			margin: 0 0 17px;
			color: $cool-grey;
			text-transform: none;
			@include font-size(14px);
			text-transform: uppercase;
		}
		
		.products-holder {
			@include media('>widescreen') {
				margin-bottom: 10px;
			}
		}
		
		.container,
		[class^=col-],
		[class*= col-] {
			padding-left: 9px;
			padding-right: 9px;
		}
		
		.row {
			margin-left: -9px;
			margin-right: -9px;
		}
		
		.item {
			h2 {
				font-weight: 400;
				text-align: center;
				text-transform: none;
				@include font-size(16px);
				@include media('<=desktop') {
					font-size: 12px;
				}
			}
		}
		
		
	}
}

/* section-head */
.section-head {
	margin: 0 -4px 21px 0;
	
	@include css3(transition,padding 0.25s ease);
	
	@include media('>=large') {
		padding-left: 230px;
	}
	@include media('>=large-x') {
		padding-left: 280px;
	}
	@include media('<desktop') {
		margin: 0 0 10px;
	}
	
	
	
	.head  {
		padding: 0 0 12px;
		margin: 0 0 19px 0;
		border-bottom: solid 1px $btn-default-border;
		@include media('<desktop') {
			margin: 0 0 10px;
			padding: 0 0 10px;
		}
		
	}
}

/* nav-products */
.nav-products {
	position: relative;
	text-transform: uppercase;
	@include font-size(15px, 3.26661);
	@include media('<=screen-md') {
		width: 280px;
		border-radius: 3px;
		border: solid 1px $btn-default-border;
	}
	@include media('<desktop') {
		width: 68%;
		float: right !important;
	}
	
	ul {
		margin: 0;
		float: left;
		@include media('<=screen-md') {
			top: -1px;
			height: 0;
			left: -1px;
			right: -1px;
			float: none;
			z-index: 10;
			overflow: hidden;
			position: absolute;
			background: $white;
			padding: 49px 0 0;
			border-radius: 3px;
			border: solid 1px $btn-default-border;
		}
	}
	
	&.active {
		ul {
			height: auto;
			li {
				@include media('<=screen-md') {
					border-color: $btn-default-border;
				}
			}
		}
	}
	
	li {
		padding: 0;
		float: left;
		@include media('<=screen-md') {
			float: none;
			display: block;
			border-bottom: solid 1px transparent;
			
			&:last-child {
				border: 0;
			}
		}
		
		&.active {
			@include media('<=screen-md') {
				left: 0;
				right: 0;
				top: 1px;
				position: absolute;
			}
		}
	}
	
	a {
		display: block;
		min-width: 160px;
		color: $cool-grey;
		text-align: center;
		position: relative;
		
		@include media('<large-x') {
			padding: 0 15px;
			min-width: inherit;
		}
		@include media('<large') {
			padding: 0 10px;
		}
		@include media('<=screen-md') {
			text-align: left;
			padding: 0 50px 0 10px;
		}
		
		&:after {
			left: 0;
			right: 0;
			opacity: 0;
			content: '';
			height: 5px;
			bottom: -15px;
			background: $lima;
			position: absolute;
			visibility: hidden;
			@include transition(all 0.25s ease);
			@include media('<=screen-md') {
				display: none;
			}
		}
	}
	
	a:hover,
	.active a {
		color: $lima;
		
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
	
	.btn-opener {
		z-index: 11;
		display: none;
		padding: 0 10px;
		text-align: right;
		position: relative;
		@include media('<=screen-md') {
			display: block;
		}
		
		&:hover,
		&:focus {
			outline: none;
		}
		
		.glyphicon {
			top: 3px;
			position: relative;
		}
	}
}

/* form-search */
.form-search {
	width: 450px;
	@include media('<desktop') {
		width: 100%;
		padding: 10px 0 0;
	}
	
	label {
		float: left;
		color: $lima;
		margin: 15px 18px 0 0;
		@include font-size(15px);
		text-transform: uppercase;
		@include media('<=phone') {
			float: none;
			margin: 0 0 5px;
		}
	}
	
	.form-holder {
		overflow: hidden;
		position: relative;
		background: $black-haze;
		border: solid 1px $mystic;
		padding: 8px 63px 9px 15px;
	}
	
	.form-control {
		border: 0;
		height: 30px;
		padding: 3px 0;
		border-radius: 0;
		color: $cool-grey;
		background: $black-haze;
		@include box-shadow(none);
		@include font-size(15px, 20px);
		
		@include placeholder {
			color: $cool-grey;
		}
		
		&:focus {
			outline: none;
			@include box-shadow(none);
		}
	}
	
	.btn-link {
		top: 50%;
		right: 7px;
		color: $chatelle;
		margin: -15px 0 0;
		position: absolute;
		text-align: center;
		@include size(46px, 30px);
		border-left: solid 1px $lima;
		@include font-size(20px, 28px);
		
		&:hover {
			color: $lima;
		}
	}
}

/* sort-type */
.sort-type {
	
	.sort-holder {
		width: 319px;
		position: relative;
		padding: 0 96px 0 0;
		border: solid 1px $btn-default-border;
		
		@include media('<=phone') {
			width: 100%;
		}
	}
	
	.btn-list,
	.btn-grid {
		top: 0;
		right: 0;
		bottom: 0;
		width: 49px;
		color: $mirage;
		text-align: center;
		position: absolute;
		@include font-size(18px, 53px);
		border-left: solid 1px $btn-default-border;
		@include media('<=tablet') {
			line-height: 50px;
		}
		
		&:hover,
		&.active {
			color: $mirage;
			background: $btn-default-border;
		}
	}
	
	.btn-grid {
		right: 49px;
	}
}

/* sort-select */
.sort-select {
	position: relative;
	
	.btn-link {
		width: 100%;
		display: block;
		color: $mirage;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-transform: uppercase;
		padding: 14px 51px 11px 13px;
		@include font-size(15px, 19px);
	}
	
	.caret {
		top: 50%;
		right: 20px;
		position: absolute;
		border-width: 6px 5px 0;
		@include css3(transform,translate(0,-50%));
	}
	
	#sortDrop {
		top: 100%;
		z-index: 5;
		left: -1px;
		width: 100%;
		
		min-width: 150px;
		position: absolute;
		background: $white;
		border: solid 1px $btn-default-border;
		
		ul {
			margin: 0;
			padding: 10px;
		}
		
		li {
			+ li {
				border-top: solid 1px $btn-default-border;
			}
		}
		
		a {
			color: $black;
			display: block;
			padding: 5px 10px;
			
			&:hover {
				background: $btn-default-border;
			}
		}
	}
}

/* item */
.item-list,
.item {
	margin: 0 0 20px;
	@include media('<tablet') {
		height: auto !important;
	}
	
	.box {
		height: 100%;
		
		background: $white;
		padding: 19px 15px 14px;
		border: $btn-default-border solid 1px;
		@include transition(all 0.25s ease);
		&:hover {
			@include box-shadow(0 0 16px 0 rgba(30,35,54,0.2));
		}
		
		@include media('<large-x') {
			padding: 10px;
		}
		
		
	}
	
	.img-holder {
		margin: 0 0 17px;
	}
	
	h2 {
		font-weight: 400;
		text-align: center;
		margin: 0 -10px 17px;
		word-break: break-all;
		@include font-size(16px);
		
		@include media('<1850px') {
			font-size: 14px;
		}
		@include media('<1600px') {
			font-size: 12px;
		}
	}
	
	.foot {
		@include clearfix;
		padding: 15px 0 0;
		margin: 0 0 0 -2px;
		border: solid $btn-default-border;
		border-width: 1px 0 0;
	}
	
	.price {
		display: block;
		overflow: hidden;
		font-weight: 400;
		color: $log-cabin;
		text-align: center;
		padding: 10px 5px 0;
		@include font-size(16px);
	}
	
	.btn {
		min-width: 103px;
		padding: 5px 5px;
		border-radius: 3px;
		@include font-size(12px, 30px);
		@include media('<large-x') {
			min-width: 70px;
		}
		
		i {
			@include font-size(15px, inherit);
		}
	}
	
	.icon-shopping-cart,
	.icon-heart { display: none; }
	
	&.save  {
		.btn-info {
			color: $white;
			background: $carnation;
			
			.text { display: none; }
			.icon-heart {
				display: block;
			}
		}
	}
	
	&.buy {
		.btn-default {
			color: $white;
			background: $lima;
			border-color: $lima;
			
			.text { display: none; }
			.icon-shopping-cart {
				display: block;
			}
		}
	}
}

/* item-list */
.item-list {
	
	.box {
		overflow: hidden;
		padding: 12px 11px 10px;
	}
	
	h2 {
		float: left;
		width: 52%;
		margin: 9px 0 0;
		text-align: left;
		letter-spacing: -0.02rem;
		font: 14px/1.25 $font-family-sans-serif;
		
		@include media('<1895px') {
			float: none;
			width: auto;
			font-size: 13px;
			max-width: none;
			margin: 0 0 10px;
		}
		
		a {
			@include align;
			margin: 0 -10px 0 0;
		}
	}
	
	.domain-page & {
		h2 {
			font-weight: 400;
			letter-spacing: -1px;
			@include media('>=1895px') {
				margin: 9px 0 0;
			}
			@include media('<=desktop') {
				font-size: 11px;
				letter-spacing: normal;
			}
		}
	}
	
	.foot {
		padding: 0;
		float: right;
		border-width: 0;
		
		@include media('<1895px') {
			float: none;
			width: auto;
			max-width: none;
			padding: 10px 0 0;
			border-width: 1px 0 0;
		}
	}
	
	.price {
		float: left;
		text-align: right;
		padding: 9px 5px 9px 0;
		@include font-size(14px);
		
	}
	
	.btn {
		margin: 0;
		min-width: 94px;
		padding: 7px 3px;
		@include font-size(11px, 20px);
		
		i {
			font-size: 16px;
		}
		
		.icon-heart-o {
			@include align;
		}
	}
	
	.btn-info {
		min-width: 38px;
		margin: 0 11px 0 0;
		color: $coral-red;
		background: $white;
		border-color: $coral-red;
		
		.text { display: none; }
		
		@include media('<1910px') {
			margin: 0 4px 0 0;
		}
	}
	
	&.save  {
		
		.btn-info {
			color: $coral-red;
			background: $white;
			border-color: $coral-red;
		}
		
		.icon-heart-o {
			&:before {
				content: "\e90e";
			}
		}
	}
	
}

/* sidebar-opener */
.sidebar-opener {
	display: none;
	padding: 0 10px;
	font-weight: 400;
	line-height: 49px;
	border-radius: 5px;
	margin: 0 10px 0 0;
	position: relative;
	
	@include media('<large') {
		display: block;
	}
	@include media('<desktop') {
		width: 30%;
		margin: 0;
	}
	
	.sidebar-active & {
		z-index: 51;
	}
	
	.glyphicon-remove {
		display: none;
	}
	
	.sidebar-active & {
		color: $white;
		background: $lima;
		
		.glyphicon-remove {
			display: inline;
		}
		.icon-filter {
			display: none;
		}
	}
}

/* domain-page */
.domain-page {
	
	.container,
	[class^=col-],
	[class*= col-] {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	.section-head {
		margin: 0 19px 21px 0;
		padding: 0 8px 0 305px;
		@include media('<1820px') {
			padding: 0;
			margin: 0 15px 20px;
		}
		
		.head {
			margin: 0;
			padding: 0 0 12px;
		}
		
		.form-block-opener {
			margin: 0;
		}
		
		.sidebar-opener {
			@include media('<1820px') {
				display: block;
			}
		}
	}
	
	#main.main-active {
		.section-head {
			@include media('>=1820px') {
				padding: 0 8px 0 305px;
			}
		}
	}
	
	.form-filters {
		padding-top: 17px;
	}
}

/* main content styles */
#content {
	margin-bottom: 14px;
	
	&.col-sm-8 {
		@include media('>1800px') {
			width: 63.867%;
		}
	}
	
	h2 {
		font-weight: 700;
		margin: 0 0 17px;
		color: $cool-grey;
		@include font-size(14px);
		text-transform: uppercase;
	}
	
	.post {
		.post-info + h2 {
			@include media('>widescreen') {
				margin: 0 0 15px;
			}
		}
	}
}

/* breadcrumbs */
.breadcrumb {
	margin-bottom: 17px;
	
	li + li:before {
		padding: 0;
		margin: 0 -1px;
	}
	
	a {
		color: $cool-grey;
		
		&:hover {
			color: $breadcrumb-active-color;
		}
	}
}

/* post */
.post {
	margin: 0 0 20px;
	
	.post-info {
		margin: 0 0 37px;
		padding: 20px 20px 34px;
		border: $btn-default-border solid 1px;
		
		@include media('<=640px') {
			padding: 10px 10px 20px;
		}
	}
	
	.img-holder {
		margin: 0 0 25px;
		position: relative;
		
		&:before {
			top: 0;
			right: 0;
			z-index: 1;
			@include arrow(52px 0 0 61px);
			border-top-color: $white;
		}
	}
	
	h3 {
		margin: 0;
		font-size: 31px;
		text-align: center;
		word-break: break-all;
		
		@include media('<widescreen') {
			font-size: 20px;
		}
		
		@include media('<=640px') {
			font-size: 12px;
		}
	}
	
	.table {
		@include media('<=640px') {
			tr,
			tbody,
			td {
				width: 100%;
				display: block;
			}
			
			td {
				border-width: 0;
				text-align: center;
				padding: 10px !important;
				
				&:first-child {
					width: 100%;
					border: $btn-default-border solid;
					border-width: 1px 0 0;
				}
			}
		}
	}
}

/* btn-favorite */
.btn-favorite {
	z-index: 3;
	top: -14px;
	right: -3px;
	color: $ghost;
	font-size: 29px;
	position: absolute;
	
	&:hover {
		color: $carnation;
	}
}

/* table */
.table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border: $table-border-color solid 1px;
	
	td {
		letter-spacing: 0.05rem;
		@include rgba-color($mirage, 0.8);
		
		&:first-child {
			width: 28.1%;
			color: $mirage;
			letter-spacing: normal;
			text-transform: uppercase;
			@include media('>widescreen') {
				padding-left: 29px;
				@include font-size(16px, 24px);
			}
		}
	}
	
	> tbody {
		> tr {
			&:first-child {
				> td {
					@include media('>widescreen') {
						padding-bottom: 30px;
					}
				}
			}
			
			> td {
				padding-bottom: 21px;
			}
		}
	}
}

/* aside  */
.aside {
	
	&.col-sm-4 {
		@include media('>1800px') {
			width: 35.833%;
		}
	}
}

/* form-order */
.form-order {
	padding: 15px 0;
	margin: 0 0 29px;
	border: $btn-default-border solid 1px;
	@include media('>tablet') {
		margin: 34px 0 29px;
	}
	@include media('>widescreen') {
		padding: 29px 0 36px;
	}
	
	.info {
		padding: 0 30px 29px 30px;
		@include media('<desktop') {
			padding: 15px 30px;
		}
		
		.btn-default {
			display: block;
			font-weight: 700;
			background: $white;
			padding: 31px 10px;
			@include font-size(36px);
			border-color: $yellow-green;
			@include media('<desktop') {
				font-size: 20px;
				padding: 15px 10px;
			}
			
			&:hover {
				color: $white;
				background: $yellow-green;
			}
			
			&:focus {
				color: $lima;
				background: $white;
			}
		}
	}
	
	.price {
		display: block;
		color: $mirage;
		margin: 0 0 32px;
		font-weight: 400;
		text-align: center;
		@include font-size(48px);
		@include media('<desktop') {
			font-size: 24px;
		}
	}
	
	.form-holder {
		margin: 0 0 30px;
		position: relative;
		padding: 26px 30px 21px 30px;
		background: $anti-flash-white;
		border: solid $btn-default-border;
		border-width: 1px 0;
		@include media('<desktop') {
			padding: 30px 15px;
		}
		
		&:before {
			top: 0;
			right: 0;
			@include arrow(49px 0 0 51px);
			border-top-color: $french-gray;
		}
	}
	
	.btn-close {
		top: 5px;
		z-index: 2;
		right: 10px;
		color: $white;
		position: absolute;
	}
	
	.field-row {
		margin: 0 0 18px;
	}
	
	.label {
		padding: 0;
		display: block;
		color: $mirage;
		margin: 0 0 7px;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
		@include font-size(100%, 1.125);
	}
	
	textarea {
		resize: none;
		height: 118px;
		margin: 0 0 20px;
	}
	
	[type=submit] {
		width: 100%;
		min-height: 48px;
	}
	
	.social-area {
		padding: 0 26px 0 37px;
		@include media('<desktop') {
			padding: 0 5px;
			text-align: center;
		}
	}
	
	.social-networks {
		margin: 0;
		
		li {
			width: 20%;
			margin: 0 -1px -1px;
			border: $btn-default-border solid 1px;
		}
		
		a {
			color: $ghost;
			min-width: 40px;
			background: $white;
			@include size(auto);
			@include font-size(21px, 50px);
			
			&:hover {
				color: $white;
				background: $lima;
			}
		}
	}
}

/* media */
.media {
	margin: 0 0 30px;
	
	.media-img {
		@include responsive-img;
	}
}

/* has-error */
.has-error {
	label {
		color: #a94442;
	}
}

/* custom range input styles */
.jcf-range {
	padding: 5px;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0 -5px 12px;
	
	.jcf-range-track {
		height: 6px;
		display: block;
		margin: 0 23px 0 0;
		position: relative;
	}
	
	.jcf-range-wrapper {
		height: 6px;
		display: block;
		margin: 10px 0;
		background: #e2e4eb;
	}
	
	.jcf-range-mid {
		position: absolute;
		background: #71be24;
		@include size(10px, 6px);
	}
	
	.jcf-range-display-wrapper {
		position: absolute;
		min-height: 6px;
		min-width: 10px;
		left: 10px;
		right: 10px;
	}
	
	&.jcf-vertical {
		width: auto;
	}
	
	&.jcf-vertical .jcf-range-wrapper {
		margin: 0;
		width: 10px;
		height: auto;
		padding: 20px 0 0;
	}
	
	&.jcf-vertical .jcf-range-track {
		height: 180px;
		width: 10px;
	}
	
	&.jcf-vertical .jcf-range-handle {
		left: -5px;
		top: auto;
	}
	
	.jcf-range-handle {
		top: 0;
		left: 0;
		z-index: 1;
		cursor: pointer;
		margin: -9px 0 0;
		position: absolute;
		background: $white;
		@include size(24px);
		border-radius: 100%;
		border: #e3e3e3 solid 1px;
		@include box-shadow(2px 1px 2px 0 rgba(0,0,0,0.2));
	}
	
	.jcf-range-mark {
		position: absolute;
		overflow: hidden;
		background: #000;
		width: 1px;
		height: 3px;
		top: -7px;
		margin: 0 0 0 9px;
	}
	
	&.jcf-vertical .jcf-range-mark {
		margin: 0 0 9px;
		left: 14px;
		top: auto;
		width: 3px;
		height: 1px;
	}
	
	&.jcf-disabled {
		background: none !important;
		opacity: 0.3;
	}
}

.single-range {
	position: relative;
	
	&:before {
		top: 50%;
		left: -6px;
		content: '';
		z-index: 5;
		margin: -4px 0 0;
		@include size(6px);
		background: $white;
		position: absolute;
	}
	
	.jcf-range-wrapper{
		background: #71be24;
		border-radius: 1px;
	}
	.jcf-range {
		padding: 5px 3px 5px 5px;
		.jcf-range-handle {
			&:before {
				top: 50%;
				left: 100%;
				content: '';
				margin: -3px 0 0;
				position: absolute;
				background: #e2e4eb;
				@include size(9999px, 6px);
			}
		}
	}
}